<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <af:pageTemplateDef var="attrs">
    <af:xmlContent>
      <component xmlns="http://xmlns.oracle.com/adf/faces/rich/component">
        <display-name>cacoTemplate</display-name>
        <facet>
          <facet-name>top</facet-name>
        </facet>
        <facet>
          <facet-name>bottom</facet-name>
        </facet>
        <facet>
          <facet-name>left</facet-name>
        </facet>
        <attribute>
          <attribute-name>tituloPantalla</attribute-name>
          <attribute-class>java.lang.String</attribute-class>
        </attribute>
        <attribute>
          <attribute-name>mostrarLogo</attribute-name>
          <attribute-class>java.lang.String</attribute-class>
          <default-value>true</default-value>
        </attribute>
      </component>
    </af:xmlContent>
    <af:decorativeBox id="pt_db1" theme="light"
                      styleClass="AFStretchWidth AFStretchHeight"
                      topHeight="120px">
      <f:facet name="center">
        <af:panelStretchLayout id="pt_psl1" bottomHeight="22">
          <f:facet name="bottom">
            <af:panelGroupLayout id="pgl52" layout="horizontal" halign="center"
                                 valign="bottom" styleClass="AFStretchWidth"
                                 rendered="#{attrs.mostrarLogo eq 'true'}">
              <af:spacer width="200" height="8" id="s12"/>
              <af:outputText value="#{viewcontrollerBundle['ACERCA_DE.TGC']}"
                             id="ot52"/>
              <af:spacer width="140" height="8" id="s52"/>
              <af:outputText value="#{viewcontrollerBundle['ACERCA_DE.COPYRIGHT']}"
                             id="ot12"/>
              <af:spacer width="140" height="8" id="s72"/>
            </af:panelGroupLayout>
          </f:facet>
          <f:facet name="center">
            <af:panelHeader text="#{attrs.tituloPantalla}" id="pt_ph1">
              <f:facet name="menuBar">
                <af:menuBar id="mb2">
                  <af:menu text="#{viewcontrollerBundle['TEMPLATE.INFO_SESION']}"
                           id="m2">
                    <af:panelFormLayout id="pfl1">
                      <af:inputText label="#{viewcontrollerBundle['TEMPLATE.NOMBRE']}"
                                    id="it1" readOnly="true"
                                    value="#{facesContext.externalContext.request.remoteUser}"/>
                      <af:inputText label="#{viewcontrollerBundle['TEMPLATE.HOST']}"
                                    id="it2"
                                    value="#{facesContext.externalContext.request.remoteHost}"
                                    readOnly="true"/>
                      <af:inputText label="#{viewcontrollerBundle['TEMPLATE.IP']}"
                                    id="it3"
                                    value="#{facesContext.externalContext.request.remoteAddr}"
                                    readOnly="true"/>
                    </af:panelFormLayout>
                  </af:menu>
                  <af:menu text="#{viewcontrollerBundle['TEMPLATE.INFO_USUARIO']}"
                           id="pt_m1">
                    <af:panelFormLayout id="pt_pfl1">
                      <af:inputText value="#{facesContext.externalContext.remoteUser}"
                                    id="pt_ot2"
                                    label="#{viewcontrollerBundle['TEMPLATE.USER']}"
                                    readOnly="true"/>
                      <af:inputText label="#{viewcontrollerBundle['NOM.RECAUDACION']}"
                                    id="inputText1"
                                    readOnly="true"
                                    value="#{viewScope.genericBean.infoUser.LOGIN_RECAUDACION_NAME}"
                                    rendered="#{viewScope.genericBean.infoPorRecaudacion eq 'Est'}"/>
                      <af:inputText label="#{viewcontrollerBundle['NOM.MUNICIPIO']}"
                                    id="inputText2" readOnly="true"
                                    value="#{viewScope.genericBean.infoUser.LOGIN_MUNICIPIO_DESCRIPCION}"
                                    rendered="#{viewScope.genericBean.infoPorRecaudacion eq 'Mun'}"/>
                    </af:panelFormLayout>
                  </af:menu>
                  <af:commandLink text="#{viewcontrollerBundle.ACERCA_DE}"
                                  id="cl4" useWindow="false">
                    <af:showPopupBehavior triggerType="action" popupId="p1"/>
                  </af:commandLink>
                  <af:spacer width="10" height="10" id="pt_s1"/>
                  <af:commandButton text="#{viewcontrollerBundle['LOGOUT.SALIR']}" id="pt_cb1"
                                    action="#{logout.logout}"/>
                </af:menuBar>
              </f:facet>
              <af:panelSplitter id="pt_ps1" orientation="horizontal"
                                splitterPosition="270">
                <f:facet name="first">
                  <af:facetRef facetName="left"/>
                </f:facet>
                <f:facet name="second">
                  <af:panelSplitter id="pt_ps2" orientation="vertical"
                                    splitterPosition="217">
                    <f:facet name="first">
                      <af:facetRef facetName="top"/>
                    </f:facet>
                    <f:facet name="second">
                      <af:facetRef facetName="bottom"/>
                    </f:facet>
                  </af:panelSplitter>
                </f:facet>
              </af:panelSplitter>
            </af:panelHeader>
          </f:facet>
        </af:panelStretchLayout>
      </f:facet>
      <f:facet name="top">
        <af:panelGroupLayout layout="horizontal"
                             xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
                             id="pgl21"
                             rendered="#{attrs.mostrarLogo eq 'true'}">
          <af:commandLink id="cl1" action="#{logout.regresarMenu}"
                          immediate="true">
            <af:image shortDesc="#{viewcontrollerBundle['TEMPLATE.VOLVER_MENU']}"
                      id="i1" source="#{sessionScope.urlLogo}"/>
          </af:commandLink>
          <af:popup id="p1" rendered="true">
            <af:panelWindow id="pw1" modal="true"
                            title="#{viewcontrollerBundle.ACERCA_DE}"
                            inlineStyle="width:430px; height:230px;"
                            resize="off">
              <af:inlineFrame id="if1"
                              shortDesc="#{viewcontrollerBundle['ACERCA_DE.TITULO']}"
                              source="/faces/about"
                              inlineStyle="width:430px; height:230px;"
                              sizing="none" rendered="true"/>
            </af:panelWindow>
          </af:popup>
        </af:panelGroupLayout>
      </f:facet>
    </af:decorativeBox>
  </af:pageTemplateDef>
</jsp:root>
