<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:h="http://java.sun.com/jsf/html">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document title="#{viewcontrollerBundle['CAT.CARACT_ASENTAMIENTOS.TITULO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}"
                 id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/catastro/template/case2Template.jspx"
                         id="pt1">
          <f:facet name="body">
            <af:panelSplitter id="ps1" splitterPosition="344"
                              styleClass="AFStretchHeight">
              <f:facet name="first">
                <af:panelHeader text="#{viewcontrollerBundle['TIT.FILTRADO']}"
                                id="ph3" inlineStyle="height:484px;">
                  <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_INICIAL']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? 'los' : pageFlowScope.PR0009 eq 'COLONIA' ? 'las' : null} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}."
                                      id="outputFormatted1"
                                      styleUsage="pageStamp"
                                      styleClass="AFStretchWidth"/>
                  <af:panelFormLayout id="pfl0" labelAlignment="top">
                    <af:selectOneChoice value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                        autoSubmit="true"
                                        label="#{viewcontrollerBundle['LOV.MUNICIPIO']}:"
                                        shortDesc="#{bindings.AaUsuariosMunicipiosVVO1.hints.tooltip}"
                                        id="soc1">
                      <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}"
                                     id="si1"/>
                    </af:selectOneChoice>
                    <af:selectOneChoice value="#{bindings.PcLocalidadesVVO1.inputValue}"
                                        autoSubmit="true"
                                        label="#{viewcontrollerBundle['LOV.LOCALIDAD']}:"
                                        partialTriggers="soc1"
                                        shortDesc="#{bindings.PcLocalidadesVVO1.hints.tooltip}"
                                        id="soc2" styleClass="AFStretchWidth">
                      <f:selectItems value="#{bindings.PcLocalidadesVVO1.items}"
                                     id="si2"/>
                    </af:selectOneChoice>
                  </af:panelFormLayout>
                  <af:spacer width="10" height="10" id="s3"/>
                  <af:panelBox text="#{viewcontrollerBundle['TIT.AVANZADO']}"
                               id="pb1" disclosed="false">
                    <af:panelGroupLayout id="panelBusqueda"
                                         binding="#{viewScope.cataCaractAsentamientosBean.panelBusqueda}"/>
                  </af:panelBox>
                </af:panelHeader>
              </f:facet>
              <f:facet name="second">
                <af:panelSplitter id="ps2" orientation="vertical"
                                  splitterPosition="280">
                  <f:facet name="first">
                    <af:panelHeader text="#{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_CAP_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_CAP_PLU'] : null}"
                                    id="ph1"
                                    styleClass="height:300px;">
                      <af:outputFormatted id="of1" styleUsage="pageStamp"
                                          styleClass="AFStretchWidth"
                                          value="#{viewcontrollerBundle['TIP.FILTRADO_TABLA']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}."/>
                      <af:panelCollection id="pc2"
                                          styleClass="AFStretchWidth"
                                          inlineStyle="height:240.0px;">
                        <af:table value="#{bindings.PcAsentamientosVO2.collectionModel}"
                                  var="row" partialTriggers=":::soc2"
                                  rows="#{bindings.PcAsentamientosVO2.rangeSize}"
                                  emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                  fetchSize="#{bindings.PcAsentamientosVO2.rangeSize}"
                                  rowBandingInterval="0"
                                  filterModel="#{bindings.PcAsentamientosVO2Query.queryDescriptor}"
                                  queryListener="#{bindings.PcAsentamientosVO2Query.processQuery}"
                                  varStatus="vs"
                                  selectedRowKeys="#{bindings.PcAsentamientosVO2.collectionModel.selectedRow}"
                                  selectionListener="#{bindings.PcAsentamientosVO2.collectionModel.makeCurrent}"
                                  rowSelection="single" id="t1"
                                  filterVisible="false"
                                  columnStretching="column:c5"
                                  binding="#{viewScope.cataCaractAsentamientosBean.t1}">
                          <af:column sortProperty="ClaveAsentamiento"
                                     filterable="true" sortable="true"
                                     headerText="#{viewcontrollerBundle['TIT.CLAVE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                     id="c9" width="80"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.ClaveAsentamiento}"
                                           id="ot14"/>
                          </af:column>
                          <af:column sortProperty="TipoAsentamiento"
                                     filterable="true" sortable="true"
                                     headerText="#{viewcontrollerBundle['TIT.TIPO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                     id="c1" width="80"
                                     filterFeatures="caseInsensitive">
                            <af:selectOneChoice readOnly="true"
                                                value="#{row.bindings.TipoAsentamiento.inputValue}"
                                                label="#{row.bindings.TipoAsentamiento.label}"
                                                required="#{bindings.PcAsentamientosVO2.hints.TipoAsentamiento.mandatory}"
                                                shortDesc="#{bindings.PcAsentamientosVO2.hints.TipoAsentamiento.tooltip}"
                                                id="soc21">
                              <f:selectItems value="#{row.bindings.TipoAsentamiento.items}"
                                             id="si21"/>
                            </af:selectOneChoice>
                          </af:column>
                          <af:column sortProperty="NombreAsentamiento"
                                     filterable="true" sortable="true"
                                     headerText="#{viewcontrollerBundle['TIT.NOMBRE_DE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                     id="c5" width="60"
                                     inlineStyle="width:60.0px;"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.NombreAsentamiento}"
                                           id="ot13"/>
                          </af:column>
                          <af:column sortProperty="Estatus" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.PcAsentamientosVO2.hints.Estatus.label}"
                                     id="c14" width="50"
                                     filterFeatures="caseInsensitive">
                            <af:selectOneChoice readOnly="true"
                                                value="#{row.bindings.Estatus.inputValue}"
                                                label="#{row.bindings.Estatus.label}"
                                                required="#{bindings.PcAsentamientosVO2.hints.Estatus.mandatory}"
                                                shortDesc="#{bindings.PcAsentamientosVO2.hints.Estatus.tooltip}"
                                                id="soc22">
                              <f:selectItems value="#{row.bindings.Estatus.items}"
                                             id="si22"/>
                            </af:selectOneChoice>
                            <f:facet name="filter">
                              <af:selectOneChoice label="Label 3" id="soc3" value="#{vs.filterCriteria.Estatus}"
                                                  autoSubmit="true">
                                <f:selectItem itemValue="" itemLabel="" id="si3"/>
                                <af:forEach var="listrow" items="#{bindings.AaListasValoresEstatusVVO11.children}">
                                  <f:selectItem id="si6" itemValue="#{listrow.ValorMinimo}"
                                                itemLabel="#{listrow.DescripcionCorta}"/>
                                </af:forEach>
                              </af:selectOneChoice>
                            </f:facet>
                          </af:column>
                          <af:column sortProperty="CodigoPostal"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.PcAsentamientosVO2.hints.CodigoPostal.label}"
                                     id="c10" width="60" align="right"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.CodigoPostal}"
                                           id="ot9"/>
                          </af:column>
                          <af:column sortProperty="Campo1" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo1Asen.hints.label}"
                                     rendered="#{bindings.Campo1Asen.hints.displayHint}"
                                     id="c8" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo1}" id="ot7"/>
                          </af:column>
                          <af:column sortProperty="Campo2" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo2Asen.hints.label}"
                                     rendered="#{bindings.Campo2Asen.hints.displayHint}"
                                     id="c6" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo2}" id="ot5"/>
                          </af:column>
                          <af:column sortProperty="Campo3" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo3Asen.hints.label}"
                                     rendered="#{bindings.Campo3Asen.hints.displayHint}"
                                     id="c4" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo3}" id="ot15"/>
                          </af:column>
                          <af:column sortProperty="Campo4" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo4Asen.hints.label}"
                                     rendered="#{bindings.Campo4Asen.hints.displayHint}"
                                     id="c3" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo4}" id="ot11"/>
                          </af:column>
                          <af:column sortProperty="Campo5" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo5Asen.hints.label}"
                                     rendered="#{bindings.Campo5Asen.hints.displayHint}"
                                     id="c7" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo5}" id="ot10"/>
                          </af:column>
                          <af:column sortProperty="Campo6" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo6Asen.hints.label}"
                                     rendered="#{bindings.Campo6Asen.hints.displayHint}"
                                     id="c15" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo6}" id="ot8"/>
                          </af:column>
                          <af:column sortProperty="Campo7" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo7Asen.hints.label}"
                                     rendered="#{bindings.Campo7Asen.hints.displayHint}"
                                     id="c12" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo7}" id="ot4"/>
                          </af:column>
                          <af:column sortProperty="Campo8" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo8Asen.hints.label}"
                                     rendered="#{bindings.Campo8Asen.hints.displayHint}"
                                     id="c2" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo8}" id="ot3"/>
                          </af:column>
                          <af:column sortProperty="Campo9" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo9Asen.hints.label}"
                                     rendered="#{bindings.Campo9Asen.hints.displayHint}"
                                     id="c13" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo9}" id="ot2"/>
                          </af:column>
                          <af:column sortProperty="Campo10" filterable="true"
                                     sortable="true"
                                     headerText="#{bindings.Campo10Asen.hints.label}"
                                     rendered="#{bindings.Campo10Asen.hints.displayHint}"
                                     id="c11" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo10}" id="ot1"/>
                          </af:column>
                        </af:table>
                      </af:panelCollection>
                    </af:panelHeader>
                  </f:facet>
                  <f:facet name="second">
                    <af:panelHeader text="#{viewcontrollerBundle['TIT.CARACTERISTICAS']}"
                                    id="ph2">
                      <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                          id="outputFormatted4"
                                          styleUsage="pageStamp"
                                          styleClass="AFStretchWidth"/>
                      <af:popup id="formaPopUp"
                                popupFetchListener="#{viewScope.cataCaractAsentamientosBean.formaPopupFetchListener}"
                                popupCanceledListener="#{viewScope.cataCaractAsentamientosBean.formaPopupCancelListener}"
                                binding="#{viewScope.cataCaractAsentamientosBean.formaPopUp}"
                                contentDelivery="lazyUncached"
                                autoCancel="disabled" resetEditableValues="whenCanceled">
                        <af:dialog id="d3"
                                   title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}"
                                   type="none" resize="off"
                                   closeIconVisible="false">
                          <af:panelGroupLayout id="pgl3" layout="scroll">
                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"
                                                id="of5"
                                                styleUsage="pageStamp"/>
                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                                id="of6"
                                                styleUsage="pageStamp"/>
                            <af:panelFormLayout id="pfl2"
                                                inlineStyle="width:408px;"
                                                labelAlignment="top">
                              <af:inputText disabled="true"
                                            label="#{viewcontrollerBundle['TIT.NOMBRE_DE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}:"
                                            id="it23"
                                            binding="#{viewScope.cataCaractAsentamientosBean.nomAsentamientoPadre}"
                                            value="#{bindings.NombreAsentamiento.inputValue}"/>
                              <af:panelLabelAndMessage label="#{bindings.PrPrcaIdentificador.hints.label}:"
                                                       id="plam1"
                                                       showRequired="true">
                                <af:inputText id="it11"
                                              simple="true"
                                              partialTriggers="AsentamientoNameCommandLink"
                                              disabled="false"
                                              value="#{bindings.PrPrcaIdentificador.inputValue ne null ? bindings.NombreCaract.inputValue : null}"
                                              autoSubmit="true" required="true" readOnly="true"/>
                                <f:facet name="end">
                                  <af:commandImageLink id="AsentamientoNameCommandLink"
                                                       action="#{viewScope.cataCaractAsentamientosBean.lanzarPopUpCaractValuacion}"
                                                       useWindow="true"
                                                       icon="/catastro/image/lov.png"
                                                       windowHeight="500"
                                                       windowWidth="975"
                                                       visible="#{bindings.MostrarLupa.inputValue eq true}"
                                                       immediate="true"
                                                       partialSubmit="true"
                                                       returnListener="#{viewScope.cataCaractAsentamientosBean.caractValuacionDialogListener}"/>
                                </f:facet>
                              </af:panelLabelAndMessage>
                              <af:inputText label="#{bindings.Valor1.hints.label}:"
                                            columns="#{bindings.Valor1.hints.displayWidth}"
                                            required="#{bindings.Valor1.hints.mandatory}"
                                            maximumLength="#{bindings.Valor1.hints.precision}"
                                            shortDesc="#{viewcontrollerBundle['PRCARACTASENTAMIENTOS.VALOR1.SHORTDESC']}"
                                            id="it7"
                                            value="#{bindings.Valor1.inputValue}"
                                            autoSubmit="true">
                                  <f:validator validatorId="AlfanumericoValidator"/>
                                 <f:converter converterId="StringAsUppercase"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Valor2.hints.label}:"
                                            required="#{bindings.Valor2.hints.mandatory}"
                                            columns="#{bindings.Valor2.hints.displayWidth}"
                                            maximumLength="#{bindings.Valor2.hints.precision}"
                                            shortDesc="#{viewcontrollerBundle['PRCARACTASENTAMIENTOS.VALOR2.SHORTDESC']}"
                                            id="it5"
                                            value="#{bindings.Valor2.inputValue}"
                                            autoSubmit="true">
                                <f:validator validatorId="AlfanumericoValidator"/>
                                <f:converter converterId="StringAsUppercase"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Valor3.hints.label}:"
                                            required="#{bindings.Valor3.hints.mandatory}"
                                            columns="#{bindings.Valor3.hints.displayWidth}"
                                            maximumLength="#{bindings.Valor3.hints.precision}"
                                            shortDesc="#{viewcontrollerBundle['PRCARACTASENTAMIENTOS.VALOR3.SHORTDESC']}"
                                            id="it19"
                                            value="#{bindings.Valor3.inputValue}"
                                            autoSubmit="true">
                                <f:validator validatorId="AlfanumericoValidator"/>
                                <f:converter converterId="StringAsUppercase"/>
                              </af:inputText>
                              <af:inputText value="#{bindings.Valor4.inputValue}"
                                            label="#{bindings.Valor4.hints.label}:"
                                            required="#{bindings.Valor4.hints.mandatory}"
                                            columns="#{bindings.Valor4.hints.displayWidth}"
                                            maximumLength="#{bindings.Valor4.hints.precision}"
                                            shortDesc="#{bindings.Valor4.hints.tooltip}"
                                            id="it24" autoSubmit="true">
                               <f:validator validatorId="AlfanumericoValidator"/>
                                <f:converter converterId="StringAsUppercase"/>
                              </af:inputText>
                              <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                  label="#{bindings.Estatus.label}:"
                                                  required="#{bindings.Estatus.hints.mandatory}"
                                                  shortDesc="#{bindings.Estatus.hints.tooltip}"
                                                  id="soc4" autoSubmit="true">
                                <f:selectItems value="#{bindings.Estatus.items}"
                                               id="si4"/>
                              </af:selectOneChoice>
                              <af:inputText label="#{bindings.Campo1.hints.label}:"
                                            rendered="#{bindings.Campo1.hints.displayHint}"
                                            required="#{bindings.Campo1.hints.mandatory}"
                                            columns="#{bindings.Campo1.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo1.hints.precision}"
                                            shortDesc="#{bindings.Campo1.hints.tooltip}"
                                            value="#{bindings.Campo1.inputValue}"
                                            id="it21">
                                <f:validator binding="#{bindings.Campo1.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo2.hints.label}"
                                            rendered="#{bindings.Campo2.hints.displayHint}"
                                            required="#{bindings.Campo2.hints.mandatory}"
                                            columns="#{bindings.Campo2.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo2.hints.precision}"
                                            shortDesc="#{bindings.Campo2.hints.tooltip}"
                                            value="#{bindings.Campo2.inputValue}"
                                            id="it4">
                                <f:validator binding="#{bindings.Campo2.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo3.hints.label}:"
                                            rendered="#{bindings.Campo3.hints.displayHint}"
                                            required="#{bindings.Campo3.hints.mandatory}"
                                            columns="#{bindings.Campo3.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo3.hints.precision}"
                                            shortDesc="#{bindings.Campo3.hints.tooltip}"
                                            value="#{bindings.Campo3.inputValue}"
                                            id="it15">
                                <f:validator binding="#{bindings.Campo3.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo4.hints.label}:"
                                            rendered="#{bindings.Campo4.hints.displayHint}"
                                            required="#{bindings.Campo4.hints.mandatory}"
                                            columns="#{bindings.Campo4.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo4.hints.precision}"
                                            shortDesc="#{bindings.Campo4.hints.tooltip}"
                                            value="#{bindings.Campo4.inputValue}"
                                            id="it6">
                                <f:validator binding="#{bindings.Campo4.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo5.hints.label}:"
                                            rendered="#{bindings.Campo5.hints.displayHint}"
                                            required="#{bindings.Campo5.hints.mandatory}"
                                            columns="#{bindings.Campo5.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo5.hints.precision}"
                                            shortDesc="#{bindings.Campo5.hints.tooltip}"
                                            value="#{bindings.Campo5.inputValue}"
                                            id="it8">
                                <f:validator binding="#{bindings.Campo5.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo6.hints.label}:"
                                            rendered="#{bindings.Campo6.hints.displayHint}"
                                            required="#{bindings.Campo6.hints.mandatory}"
                                            columns="#{bindings.Campo6.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo6.hints.precision}"
                                            shortDesc="#{bindings.Campo6.hints.tooltip}"
                                            value="#{bindings.Campo6.inputValue}"
                                            id="it13">
                                <f:validator binding="#{bindings.Campo6.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo7.hints.label}:"
                                            rendered="#{bindings.Campo7.hints.displayHint}"
                                            required="#{bindings.Campo7.hints.mandatory}"
                                            columns="#{bindings.Campo7.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo7.hints.precision}"
                                            shortDesc="#{bindings.Campo7.hints.tooltip}"
                                            value="#{bindings.Campo7.inputValue}"
                                            id="it22">
                                <f:validator binding="#{bindings.Campo7.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo8.hints.label}:"
                                            rendered="#{bindings.Campo8.hints.displayHint}"
                                            required="#{bindings.Campo8.hints.mandatory}"
                                            columns="#{bindings.Campo8.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo8.hints.precision}"
                                            shortDesc="#{bindings.Campo8.hints.tooltip}"
                                            value="#{bindings.Campo8.inputValue}"
                                            id="it16">
                                <f:validator binding="#{bindings.Campo8.validator}"/>
                              </af:inputText>
                              <af:inputText rendered="#{bindings.Campo9.hints.displayHint}"
                                            label="#{bindings.Campo9.hints.label}:"
                                            required="#{bindings.Campo9.hints.mandatory}"
                                            columns="#{bindings.Campo9.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo9.hints.precision}"
                                            shortDesc="#{bindings.Campo9.hints.tooltip}"
                                            value="#{bindings.Campo9.inputValue}"
                                            id="it20">
                                <f:validator binding="#{bindings.Campo9.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo10.hints.label}:"
                                            rendered="#{bindings.Campo10.hints.displayHint}"
                                            required="#{bindings.Campo10.hints.mandatory}"
                                            columns="#{bindings.Campo10.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo10.hints.precision}"
                                            shortDesc="#{bindings.Campo10.hints.tooltip}"
                                            value="#{bindings.Campo10.inputValue}"
                                            id="it18">
                                <f:validator binding="#{bindings.Campo10.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo11.hints.label}:"
                                            rendered="#{bindings.Campo11.hints.displayHint}"
                                            required="#{bindings.Campo11.hints.mandatory}"
                                            columns="#{bindings.Campo11.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo11.hints.precision}"
                                            shortDesc="#{bindings.Campo11.hints.tooltip}"
                                            value="#{bindings.Campo11.inputValue}"
                                            id="it14">
                                <f:validator binding="#{bindings.Campo11.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo12.hints.label}:"
                                            rendered="#{bindings.Campo12.hints.displayHint}"
                                            required="#{bindings.Campo12.hints.mandatory}"
                                            columns="#{bindings.Campo12.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo12.hints.precision}"
                                            shortDesc="#{bindings.Campo12.hints.tooltip}"
                                            value="#{bindings.Campo12.inputValue}"
                                            id="it17">
                                <f:validator binding="#{bindings.Campo12.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo13.hints.label}:"
                                            rendered="#{bindings.Campo13.hints.displayHint}"
                                            required="#{bindings.Campo13.hints.mandatory}"
                                            columns="#{bindings.Campo13.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo13.hints.precision}"
                                            shortDesc="#{bindings.Campo13.hints.tooltip}"
                                            value="#{bindings.Campo13.inputValue}"
                                            id="it10">
                                <f:validator binding="#{bindings.Campo13.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo14.hints.label}:"
                                            rendered="#{bindings.Campo14.hints.displayHint}"
                                            required="#{bindings.Campo14.hints.mandatory}"
                                            columns="#{bindings.Campo14.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo14.hints.precision}"
                                            shortDesc="#{bindings.Campo14.hints.tooltip}"
                                            value="#{bindings.Campo14.inputValue}"
                                            id="it12">
                                <f:validator binding="#{bindings.Campo14.validator}"/>
                              </af:inputText>
                              <af:inputText label="#{bindings.Campo15.hints.label}:"
                                            rendered="#{bindings.Campo15.hints.displayHint}"
                                            required="#{bindings.Campo15.hints.mandatory}"
                                            columns="#{bindings.Campo15.hints.displayWidth}"
                                            maximumLength="#{bindings.Campo15.hints.precision}"
                                            shortDesc="#{bindings.Campo15.hints.tooltip}"
                                            value="#{bindings.Campo15.inputValue}"
                                            id="it9">
                                <f:validator binding="#{bindings.Campo15.validator}"/>
                              </af:inputText>
                            </af:panelFormLayout>
                          </af:panelGroupLayout>
                          <f:facet name="buttonBar">
                            <af:group id="g1">
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                id="cb2"
                                            actionListener="#{viewScope.cataCaractAsentamientosBean.aceptarListener}"
                                                partialSubmit="true">
                                <af:resetActionListener/>
                              </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                id="cb1" immediate="true"
                                                partialSubmit="true">
                                <af:showPopupBehavior popupId="popupCancelar"/>
                              </af:commandButton>
                            </af:group>
                          </f:facet>
                        </af:dialog>
                      </af:popup>
                      <af:popup id="popupCancelar"
                                binding="#{viewScope.CataSegCatastralesBean.popupCancelar}"
                                contentDelivery="lazyUncached"
                                childCreation="deferred"
                                popupFetchListener="#{viewScope.cataCaractAsentamientosBean.formaPopupFetchListener}">
                        <af:dialog id="dialog1" type="cancel"
                                   title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                   closeIconVisible="false"
                                   dialogListener="#{viewScope.cataCaractAsentamientosBean.cancelarDialogListener}">
                          <af:outputText value="#{pageFlowScope.mensaje eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                         id="outputText1"/>
                          <f:facet name="buttonBar">
                          <af:group id="g2">
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}" id="cb4"
                                              actionListener="#{viewScope.cataCaractAsentamientosBean.cancelarListener}"
                                              immediate="true">
                                <af:resetActionListener/>
                              </af:commandButton>
                          </af:group>
                          </f:facet>
                        </af:dialog>
                      </af:popup>
                      <af:popup id="borrarPopUp">
                        <af:dialog id="d2" type="none"
                                   title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                   resize="off" closeIconVisible="false">
                          <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                         id="ot23"/>
                          <f:facet name="buttonBar">
                            <af:group id="pp1">
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                id="commandButton1"
                                                action="#{viewScope.cataCaractAsentamientosBean.borrarRegistro}"/>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                id="cb7"/>
                            </af:group>
                          </f:facet>
                        </af:dialog>
                      </af:popup>
                      <af:panelCollection id="pc1"
                                          styleClass="AFStretchWidth"
                                          inlineStyle="height:220.0px;">
                        <f:facet name="toolbar">
                          <af:toolbar id="t3">
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                              disabled="#{!bindings.CreateInsert.enabled}"
                                              id="cmbInsert" useWindow="true">
                              <af:setPropertyListener from="nuevo"
                                                      to="#{pageFlowScope.mensaje}"
                                                      type="action"/>
                              <af:showPopupBehavior triggerType="click"
                                                    popupId="::formaPopUp"/>
                            </af:commandButton>
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                              id="cmbEdit" useWindow="true"
                                              disabled="#{!bindings.Delete.enabled}">
                              <af:setPropertyListener from="modificar"
                                                      to="#{pageFlowScope.mensaje}"
                                                      type="action"/>
                              <af:showPopupBehavior popupId="::formaPopUp"
                                                    triggerType="click"/>
                            </af:commandButton>
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                              disabled="#{!bindings.Delete.enabled}"
                                              id="cb6" useWindow="true">
                              <af:showPopupBehavior popupId="::borrarPopUp"/>
                            </af:commandButton>
                          </af:toolbar>
                        </f:facet>
                        <af:table value="#{bindings.PrCaractAsentamientosVO2.collectionModel}"
                                  var="row"
                                  rows="#{bindings.PrCaractAsentamientosVO2.rangeSize}"
                                  emptyText="#{ViewControllerBundle['SYS.SIN_DATOS']}"
                                  fetchSize="#{bindings.PrCaractAsentamientosVO2.rangeSize}"
                                  rowBandingInterval="0"
                                  filterModel="#{bindings.PrCaractAsentamientosVO2Query.queryDescriptor}"
                                  queryListener="#{bindings.PrCaractAsentamientosVO2Query.processQuery}"
                                  filterVisible="false" varStatus="vs"
                                  selectedRowKeys="#{bindings.PrCaractAsentamientosVO2.collectionModel.selectedRow}"
                                  selectionListener="#{bindings.PrCaractAsentamientosVO2.collectionModel.makeCurrent}"
                                  rowSelection="single" id="t2"
                                  partialTriggers=":::pc2:t1 ::cmbEdit"
                                  binding="#{viewScope.cataCaractAsentamientosBean.t2}"
                                  styleClass="AFStretchWidth"
                                  columnStretching="column:c25"
                                  autoHeightRows="0">
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Etiqueta.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.PrCaractAsentamientosVO2.hints.Etiqueta.label}"
                                     id="c25">
                            <af:outputText value="#{row.Etiqueta}" id="ot21"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Valor1.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.PrCaractAsentamientosVO2.hints.Valor1.label}"
                                     id="c32">
                            <af:outputText value="#{row.Valor1}" id="ot22"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Valor2.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.PrCaractAsentamientosVO2.hints.Valor2.label}"
                                     id="c34">
                            <af:outputText value="#{row.Valor2}" id="ot28"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Valor3.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.PrCaractAsentamientosVO2.hints.Valor3.label}"
                                     id="c30">
                            <af:outputText value="#{row.Valor3}" id="ot18"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Estatus.name}"
                                     filterable="true" sortable="false"
                                     headerText="#{bindings.PrCaractAsentamientosVO2.hints.Estatus.label}"
                                     id="c42">
                            <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                label="#{row.bindings.Estatus.label}"
                                                required="#{bindings.PrCaractAsentamientosVO2.hints.Estatus.mandatory}"
                                                shortDesc="#{bindings.PrCaractAsentamientosVO2.hints.Estatus.tooltip}"
                                                id="soc5" readOnly="true">
                              <f:selectItems value="#{row.bindings.Estatus.items}"
                                             id="si5"/>
                            </af:selectOneChoice>
                            <f:facet name="filter">
                              <af:selectOneChoice label="Label 3" id="soc55" value="#{vs.filterCriteria.Estatus}"
                                                  autoSubmit="true">
                                <f:selectItem itemValue="" itemLabel="" id="si55"/>
                                <af:forEach var="listrow" items="#{bindings.AaListasValoresEstatusVVO1.children}">
                                  <f:selectItem id="si56" itemValue="#{listrow.ValorMinimo}"
                                                itemLabel="#{listrow.DescripcionCorta}"/>
                                </af:forEach>
                              </af:selectOneChoice>
                            </f:facet>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo1.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo1.hints.label}"
                                     rendered="#{bindings.Campo1.hints.displayHint}"
                                     id="c19">
                            <af:outputText value="#{row.Campo1}" id="ot26"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo2.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo2.hints.label}"
                                     rendered="#{bindings.Campo2.hints.displayHint}"
                                     id="c31">
                            <af:outputText value="#{row.Campo2}" id="ot30"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo3.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo3.hints.label}"
                                     rendered="#{bindings.Campo3.hints.displayHint}"
                                     id="c29">
                            <af:outputText value="#{row.Campo3}" id="ot25"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo4.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo4.hints.label}"
                                     rendered="#{bindings.Campo4.hints.displayHint}"
                                     id="c26">
                            <af:outputText value="#{row.Campo4}" id="ot31"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo5.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo5.hints.label}"
                                     rendered="#{bindings.Campo5.hints.displayHint}"
                                     id="c18">
                            <af:outputText value="#{row.Campo5}" id="ot24"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo6.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo6.hints.label}"
                                     rendered="#{bindings.Campo6.hints.displayHint}"
                                     id="c23">
                            <af:outputText value="#{row.Campo6}" id="ot27"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo7.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo7.hints.label}"
                                     rendered="#{bindings.Campo7.hints.displayHint}"
                                     id="c33">
                            <af:outputText value="#{row.Campo7}" id="ot20"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo8.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo8.hints.label}"
                                     rendered="#{bindings.Campo8.hints.displayHint}"
                                     id="c24">
                            <af:outputText value="#{row.Campo8}" id="ot17"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo9.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo9.hints.label}"
                                     rendered="#{bindings.Campo9.hints.displayHint}"
                                     id="c22">
                            <af:outputText value="#{row.Campo9}" id="ot19"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo10.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo10.hints.label}"
                                     rendered="#{bindings.Campo10.hints.displayHint}"
                                     id="c17">
                            <af:outputText value="#{row.Campo10}" id="ot29"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo11.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo11.hints.label}"
                                     rendered="#{bindings.Campo11.hints.displayHint}"
                                     id="c28">
                            <af:outputText value="#{row.Campo11}" id="ot33"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo12.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo12.hints.label}"
                                     rendered="#{bindings.Campo12.hints.displayHint}"
                                     id="c16">
                            <af:outputText value="#{row.Campo12}" id="ot34"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo13.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo13.hints.label}"
                                     rendered="#{bindings.Campo13.hints.displayHint}"
                                     id="c27">
                            <af:outputText value="#{row.Campo13}" id="ot233"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo14.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo14.hints.label}"
                                     rendered="#{bindings.Campo14.hints.displayHint}"
                                     id="c20">
                            <af:outputText value="#{row.Campo14}" id="ot35"/>
                          </af:column>
                          <af:column sortProperty="#{bindings.PrCaractAsentamientosVO2.hints.Campo15.name}"
                                     filterable="true" sortable="true"
                                     headerText="#{bindings.Campo15.hints.label}"
                                     rendered="#{bindings.Campo15.hints.displayHint}"
                                     id="c21">
                            <af:outputText value="#{row.Campo15}" id="ot32"/>
                          </af:column>
                        </af:table>
                      </af:panelCollection>
                    </af:panelHeader>
                  </f:facet>
                </af:panelSplitter>
              </f:facet>
            </af:panelSplitter>
          </f:facet>
          <f:attribute name="tituloPantalla"
                       value="#{viewcontrollerBundle['CAT.CARACT_ASENTAMIENTOS.TITULO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}"/>
        </af:pageTemplate>
       <af:popup id="popupRecBase" contentDelivery="lazyUncached" childCreation="deferred"
                  popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
          <af:dialog id="d5" closeIconVisible="false" resize="off" type="none">
            <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}" id="ot36"/>
            <f:facet name="buttonBar">
              <af:commandButton id="cb5" text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                action="#{logout.regresarMenu}"/>
            </f:facet>
          </af:dialog>
        </af:popup>           
      </af:form>
     </af:document>
  </f:view>
</jsp:root>