<?xml version='1.0' encoding='UTF-8'?> 
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document title="#{viewcontrollerBundle['CAT.ASENTAMIENTOS.TITULO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}"
                 id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx" id="pt1">
          <f:facet name="top">
            <af:panelSplitter id="ps1" splitterPosition="275">
              <f:facet name="first">
                <af:panelHeader text="#{viewcontrollerBundle['TIT.FILTRADO']}"
                                id="ph1">
                  <f:facet name="legend">
                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_INICIAL']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? 'los' : pageFlowScope.PR0009 eq 'COLONIA' ? 'las' : null} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}."
                                        id="of1" styleUsage="pageStamp"
                                        styleClass="AFStretchWidth"/>
                  </f:facet>
                  <af:panelFormLayout id="pfl3" labelAlignment="top">
                    <af:selectOneChoice value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                        label="#{viewcontrollerBundle['LOV.MUNICIPIO']}"
                                        required="#{bindings.AaUsuariosMunicipiosVVO1.hints.mandatory}"
                                        id="soc1"
                                        immediate="true"
                                        autoSubmit="true">
                      <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}"
                                     id="si1"/>
                    </af:selectOneChoice>
                    <af:selectOneChoice value="#{bindings.PcLocalidadesVVO1.inputValue}" partialTriggers="soc1"
                                        id="soc2"
                                        label="#{viewcontrollerBundle['LOV.LOCALIDAD']}"
                                        immediate="true" autoSubmit="true" styleClass="AFStretchWidth">
                      <f:selectItems value="#{bindings.PcLocalidadesVVO1.items}"
                                     id="si2"/>
                    </af:selectOneChoice>
                  </af:panelFormLayout>
                  <af:spacer width="10" height="10" id="s1"/>
                  <af:panelBox text="#{viewcontrollerBundle['TIT.AVANZADO']}"
                               id="pb1" disclosed="false">
                    <af:panelGroupLayout id="panelBusqueda"
                                         binding="#{viewScope.CataAsentamientosBean.panelBusqueda}"/>
                  </af:panelBox>
                </af:panelHeader>
              </f:facet>
              <f:facet name="second">
                <af:panelSplitter id="ps2" orientation="vertical"
                                  splitterPosition="202">
                  <f:facet name="first">
                      <af:panelGroupLayout id="pgl2" styleClass="AFStretchWidth"
                                           layout="vertical">
                        <af:outputFormatted value="#{viewcontrollerBundle['TIP.SELECCIONAR']}"
                                            id="of2" styleUsage="pageStamp"
                                            visible="#{pageFlowScope.catalogo eq 'false'}"
                                            styleClass="AFStretchWidth"/>
                        <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                            id="of4" styleUsage="pageStamp"
                                            visible="#{pageFlowScope.catalogo eq 'true'}"
                                            styleClass="AFStretchWidth"/>
                        <af:panelCollection id="pc1" styleClass="AFStretchWidth"
                                            featuresOff="freeze detach wrap"
                                            inlineStyle="height:390.0px;">
                          <f:facet name="toolbar">
                            <af:toolbar id="t2">
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                                visible="#{pageFlowScope.catalogo eq 'true'}"
                                                id="cb1" partialTriggers="t1"
                                                actionListener="#{viewScope.CataAsentamientosBean.muestraPopListener}">
                                <af:setPropertyListener to="#{pageFlowScope.operacion}"
                                                        from="nuevo"
                                                        type="action"/>
                            </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                id="cb5"
                                                visible="#{pageFlowScope.catalogo eq 'true'}"
                                                actionListener="#{viewScope.CataAsentamientosBean.muestraPopListener}">
                                <af:setPropertyListener to="#{pageFlowScope.operacion}"
                                                        from="modificar"
                                                        type="action"/>
                              </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                id="cb2" partialTriggers="t1"
                                                visible="#{pageFlowScope.catalogo eq 'true'}"
                                                actionListener="#{bindings.Delete.execute}">
                                <af:showPopupBehavior popupId="borrarPopUp"/>
                              </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.SELECCIONAR']}"
                                                visible="#{pageFlowScope.catalogo eq 'false'}"
                                                id="cb6"
                                                action="#{viewScope.CataAsentamientosBean.subirValores}"/>
                              <af:popup id="borrarPopUp"
                                        binding="#{viewScope.CataAsentamientosBean.borrarPopUp}">
                                <af:dialog id="d2" type="none"
                                           title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                           binding="#{viewScope.CataAsentamientosBean.confirmaPopUp}"
                                           resize="off"
                                           closeIconVisible="false">
                                  <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                                 id="ot23"/>
                                  <f:facet name="buttonBar">
                                    <af:group id="g1">
                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                        id="commandButton1"
                                                        action="#{viewScope.CataAsentamientosBean.borrarRegistro}"/>
                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                        id="cb7"/>
                                    </af:group>
                                  </f:facet>
                                </af:dialog>
                              </af:popup>
                              <af:popup id="cancelarPopUp"
                                        binding="#{viewScope.CataAsentamientosBean.cancelarPopUp}">
                                <af:dialog id="d3"
                                           title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                           type="cancel"
                                           dialogListener="#{viewScope.CataAsentamientosBean.cancelAction}"
                                           resize="off"
                                           closeIconVisible="false">
                                  <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                                 id="ot24"/>
                                  <f:facet name="buttonBar">
                                    <af:group id="g2">
                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                        immediate="true"
                                                        id="cb8"
                                                        actionListener="#{viewScope.CataAsentamientosBean.cerrarPopupDml}">
                                        <af:resetActionListener/>
                                      </af:commandButton>
                                    </af:group>
                                  </f:facet>
                                </af:dialog>
                              </af:popup>
                              <af:popup id="popupDml"
                                        binding="#{viewScope.CataAsentamientosBean.popupDml}"
                                        popupFetchListener="#{viewScope.CataAsentamientosBean.formaPopupFetchListener}"
                                        popupCanceledListener="#{viewScope.CataAsentamientosBean.cerrarPopupEscape}"
                                        contentDelivery="lazyUncached" resetEditableValues="whenCanceled"
                                        autoCancel="enabled">
                                <af:dialog id="d4" closeIconVisible="false"
                                           resize="off" type="none"
                                           title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}">
                                  <f:facet name="buttonBar">
                                    <af:group id="g3">
                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                        id="cb4"
                                                        visible="#{pageFlowScope.catalogo eq 'true'}"
                                                        action="#{viewScope.CataAsentamientosBean.insertarRegistro}"
                                                        partialSubmit="true"/>
                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                        id="commandButton2"
                                                        useWindow="true"
                                                        visible="#{pageFlowScope.catalogo eq 'true'}"
                                                        immediate="true" partialSubmit="false">
                                        <af:showPopupBehavior popupId="cancelarPopUp"/>
                                      <af:resetListener type="action"/>
                                    </af:commandButton>
                                    </af:group>
                                  </f:facet>
                                  <af:panelGroupLayout id="pgl1"
                                                       layout="vertical">
                                    <af:outputFormatted id="outputFormatted1"
                                                        styleUsage="pageStamp"
                                                        styleClass="AFStretchWidth"
                                                        value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"
                                                        rendered="#{bindings.modifica1.inputValue eq 'true'}"/>
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                                        id="of3"
                                                        styleUsage="pageStamp"
                                                        rendered="#{bindings.modifica1.inputValue eq 'true'}"/>
                                  </af:panelGroupLayout>
                                  <af:panelFormLayout id="pfl2"
                                                      partialTriggers="::pc1"
                                                      labelAlignment="top">
                                    <af:inputText value="#{bindings.ClaveAsentamiento.inputValue}"
                                                  label="#{viewcontrollerBundle['TIT.CLAVE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}:"
                                                  columns="10"
                                                  maximumLength="#{bindings.ClaveAsentamiento.hints.precision}"
                                                  id="it9" showRequired="true"
                                                  required="#{bindings.ClaveAsentamiento.hints.mandatory}"
                                                  validator="#{viewScope.CataAsentamientosBean.claveAsentamientoValidator}"
                                                  autoSubmit="true">
                                      <f:validator binding="#{bindings.ClaveAsentamiento.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.NombreAsentamiento.inputValue}"
                                                  label="#{viewcontrollerBundle['TIT.NOMBRE_DE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}:"
                                                  maximumLength="#{bindings.NombreAsentamiento.hints.precision}"
                                                  id="it7" showRequired="true"
                                                  columns="25"
                                                  required="#{bindings.NombreAsentamiento.hints.mandatory}">
                                      <f:validator binding="#{bindings.NombreAsentamiento.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:selectOneChoice value="#{bindings.TipoAsentamiento.inputValue}"
                                                        label="#{viewcontrollerBundle['TIT.TIPO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}:"
                                                        required="#{bindings.TipoAsentamiento.hints.mandatory}"
                                                        id="soc4"
                                                        showRequired="true"
                                                        immediate="true">
                                      <f:selectItems value="#{bindings.TipoAsentamiento.items}"
                                                     id="si3"/>
                                    </af:selectOneChoice>
                                    <af:selectOneChoice value="#{bindings.Estatus1.inputValue}"
                                                        label="#{bindings.Estatus1.hints.label}:"
                                                        required="#{bindings.Estatus1.hints.mandatory}"
                                                        id="soc6"
                                                        showRequired="true"
                                                        immediate="true">
                                      <f:selectItems value="#{bindings.Estatus1.items}"
                                                     id="si6"/>
                                    </af:selectOneChoice>
                                    <af:inputText value="#{bindings.CodigoPostal.inputValue}"
                                                  label="#{bindings.CodigoPostal.hints.label}:"
                                                  required="#{bindings.CodigoPostal.hints.mandatory}"
                                                  columns="8"
                                                  maximumLength="#{bindings.CodigoPostal.hints.precision}"
                                                  id="it18" rows="1">
                                      <f:validator binding="#{bindings.CodigoPostal.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo1.inputValue}"
                                                  label="#{bindings.Campo1.hints.label}:"
                                                  required="#{bindings.Campo1.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo1.hints.precision}"
                                                  id="it4"
                                                  rendered="#{bindings.Campo1.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo1.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo2.inputValue}"
                                                  label="#{bindings.Campo2.hints.label}:"
                                                  required="#{bindings.Campo2.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo2.hints.precision}"
                                                  id="it10"
                                                  rendered="#{bindings.Campo2.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo2.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo3.inputValue}"
                                                  label="#{bindings.Campo3.hints.label}:"
                                                  required="#{bindings.Campo3.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo3.hints.precision}"
                                                  id="it6"
                                                  rendered="#{bindings.Campo3.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo3.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo4.inputValue}"
                                                  label="#{bindings.Campo4.hints.label}:"
                                                  required="#{bindings.Campo4.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo4.hints.precision}"
                                                  id="it11"
                                                  rendered="#{bindings.Campo4.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo4.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo5.inputValue}"
                                                  label="#{bindings.Campo5.hints.label}:"
                                                  required="#{bindings.Campo5.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo5.hints.precision}"
                                                  id="it15"
                                                  rendered="#{bindings.Campo5.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo5.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo6.inputValue}"
                                                  label="#{bindings.Campo6.hints.label}:"
                                                  required="#{bindings.Campo6.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo6.hints.precision}"
                                                  id="it12"
                                                  rendered="#{bindings.Campo6.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo6.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo7.inputValue}"
                                                  label="#{bindings.Campo7.hints.label}:"
                                                  required="#{bindings.Campo7.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo7.hints.precision}"
                                                  id="it17"
                                                  rendered="#{bindings.Campo7.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo7.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo8.inputValue}"
                                                  label="#{bindings.Campo8.hints.label}:"
                                                  required="#{bindings.Campo8.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo8.hints.precision}"
                                                  id="it16"
                                                  rendered="#{bindings.Campo8.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo8.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo9.inputValue}"
                                                  label="#{bindings.Campo9.hints.label}:"
                                                  required="#{bindings.Campo9.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo9.hints.precision}"
                                                  id="it5"
                                                  rendered="#{bindings.Campo9.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo9.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo10.inputValue}"
                                                  label="#{bindings.Campo10.hints.label}:"
                                                  required="#{bindings.Campo10.hints.mandatory}"
                                                  columns="20"
                                                  maximumLength="#{bindings.Campo10.hints.precision}"
                                                  id="it8"
                                                  rendered="#{bindings.Campo10.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo10.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                  </af:panelFormLayout>
                                </af:dialog>
                              <af:resetListener type="popupCanceled"/>
                            </af:popup>
                            </af:toolbar>
                          </f:facet>
                          <af:table value="#{bindings.PcAsentamientosVO2.collectionModel}"
                                    var="row"
                                    rows="#{bindings.PcAsentamientosVO2.rangeSize}"
                                    emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                    fetchSize="#{bindings.PcAsentamientosVO2.rangeSize}"
                                    rowBandingInterval="0"
                                    filterModel="#{bindings.PcAsentamientosVO2Query.queryDescriptor}"
                                    queryListener="#{bindings.PcAsentamientosVO2Query.processQuery}"
                                    filterVisible="false" varStatus="vs"
                                    selectedRowKeys="#{bindings.PcAsentamientosVO2.collectionModel.selectedRow}"
                                    selectionListener="#{bindings.PcAsentamientosVO2.collectionModel.makeCurrent}"
                                    rowSelection="single" id="t1"
                                    binding="#{viewScope.CataAsentamientosBean.table}"
                                    partialTriggers=":::soc2 ::cb8 ::cb4 ::commandButton1 ::cb2"
                                    columnStretching="column:c4"
                                    styleClass="AFStretchWidth" autoHeightRows="0">
                            <af:column sortProperty="ClaveAsentamiento"
                                       filterable="true" sortable="false"
                                       headerText="#{viewcontrollerBundle['TIT.CLAVE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                       id="c17"
                                       filterFeatures="caseInsensitive">
                              <af:outputText value="#{row.ClaveAsentamiento}"
                                             id="ot5"/>
                            </af:column>
                            <af:column sortProperty="TipoAsentamiento"
                                       filterable="true" sortable="false"
                                       headerText="#{viewcontrollerBundle['TIT.TIPO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                       id="c2" width="140"
                                       filterFeatures="caseInsensitive">
                              <af:selectOneChoice value="#{row.bindings.TipoAsentamiento.inputValue}"
                                                  label="#{row.bindings.TipoAsentamiento.label}"
                                                  required="#{bindings.PcAsentamientosVO2.hints.TipoAsentamiento.mandatory}"
                                                  id="soc5" readOnly="true">
                                <f:selectItems value="#{row.bindings.TipoAsentamiento.items}"
                                               id="si5"/>
                              </af:selectOneChoice>
                            </af:column>
                            <af:column sortProperty="NombreAsentamiento"
                                       filterable="true" sortable="false"
                                       headerText="#{viewcontrollerBundle['TIT.NOMBRE_DE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                       id="c4" width="155"
                                       filterFeatures="caseInsensitive">
                              <af:outputText value="#{row.NombreAsentamiento}"
                                             id="ot10"/>
                            </af:column>
                          <af:column sortProperty="Estatus" filterable="true" sortable="false"
                                     headerText="#{bindings.PcAsentamientosVO2.hints.Estatus.label}" id="c6" width="75"
                                     filterFeatures="caseInsensitive">
                            <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                label="#{row.bindings.Estatus.label}"
                                                required="#{bindings.PcAsentamientosVO2.hints.Estatus.mandatory}"
                                                id="soc3" readOnly="true">
                              <f:selectItems value="#{row.bindings.Estatus.items}" id="si4"/>
                            </af:selectOneChoice>
                            
                            <f:facet name="filter">
                              <af:selectOneChoice label="Label 3" id="soc55" value="#{vs.filterCriteria.Estatus}"
                                                  autoSubmit="true">
                                <f:selectItem itemValue="" itemLabel="" id="si55"/>
                                <af:forEach var="listrow" items="#{bindings.AaListasValoresEstatusVVO1.children}">
                                  <f:selectItem id="si56" itemValue="#{listrow.ValorMinimo}" itemLabel="#{listrow.DescripcionCorta}"/>
                                </af:forEach>
                              </af:selectOneChoice>
                            </f:facet>
                            
                          </af:column>
                          <af:column sortProperty="CodigoPostal"
                                       filterable="true" sortable="false"
                                       headerText="#{bindings.PcAsentamientosVO2.hints.CodigoPostal.label}"
                                       id="c3" width="80"
                                       inlineStyle="text-align:right;"
                                       filterFeatures="caseInsensitive">
                              <af:outputText value="#{row.CodigoPostal}"
                                             id="ot9"/>
                            </af:column>
                            <af:column sortProperty="FechaAlta"
                                       filterable="true" sortable="false"
                                       headerText="#{bindings.PcAsentamientosVO2.hints.FechaAlta.label}"
                                       id="c8" inlineStyle="text-align:center;"
                                       filterFeatures="caseInsensitive">
                              <f:facet name="filter">
                                <af:inputDate value="#{vs.filterCriteria.FechaAlta}"
                                              id="id1"/>
                              </f:facet>
                              <af:outputText value="#{row.FechaAlta}" id="ot19">
                                <af:convertDateTime pattern="#{bindings.PcAsentamientosVO2.hints.FechaAlta.format}"/>
                              </af:outputText>
                            </af:column>
                            <af:column sortProperty="Campo1" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo1.hints.label}"
                                       rendered="#{bindings.Campo1.hints.displayHint}"
                                       id="c11">
                              <af:outputText value="#{row.Campo1}" id="ot21"/>
                            </af:column>
                            <af:column sortProperty="Campo2" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo2.hints.label}"
                                       rendered="#{bindings.Campo2.hints.displayHint}"
                                       id="c13">
                              <af:outputText value="#{row.Campo2}" id="ot15"/>
                            </af:column>
                            <af:column sortProperty="Campo3" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo3.hints.label}"
                                       rendered="#{bindings.Campo3.hints.displayHint}"
                                       id="c10">
                              <af:outputText value="#{row.Campo3}" id="ot20"/>
                            </af:column>
                            <af:column sortProperty="Campo4" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo4.hints.label}"
                                       rendered="#{bindings.Campo4.hints.displayHint}"
                                       id="c14">
                              <af:outputText value="#{row.Campo4}" id="ot4"/>
                            </af:column>
                            <af:column sortProperty="Campo5" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo5.hints.label}"
                                       rendered="#{bindings.Campo5.hints.displayHint}"
                                       id="c20">
                              <af:outputText value="#{row.Campo5}" id="ot18"/>
                            </af:column>
                            <af:column sortProperty="Campo6" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo6.hints.label}"
                                       rendered="#{bindings.Campo6.hints.displayHint}"
                                       id="c7">
                              <af:outputText value="#{row.Campo6}" id="ot17"/>
                            </af:column>
                            <af:column sortProperty="Campo7" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo7.hints.label}"
                                       rendered="#{bindings.Campo7.hints.displayHint}"
                                       id="c19">
                              <af:outputText value="#{row.Campo7}" id="ot1"/>
                            </af:column>
                            <af:column sortProperty="Campo8" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo8.hints.label}"
                                       rendered="#{bindings.Campo8.hints.displayHint}"
                                       id="c16">
                              <af:outputText value="#{row.Campo8}" id="ot7"/>
                            </af:column>
                            <af:column sortProperty="Campo9" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo9.hints.label}"
                                       rendered="#{bindings.Campo9.hints.displayHint}"
                                       id="c15">
                              <af:outputText value="#{row.Campo9}" id="ot14"/>
                            </af:column>
                            <af:column sortProperty="Campo10" filterable="true"
                                       sortable="false"
                                       headerText="#{bindings.Campo10.hints.label}"
                                       rendered="#{bindings.Campo10.hints.displayHint}"
                                       id="c18">
                              <af:outputText value="#{row.Campo10}" id="ot25"/>
                            </af:column>
                          </af:table>
                        </af:panelCollection>
                      </af:panelGroupLayout>
                  </f:facet>
                </af:panelSplitter>
              </f:facet>
            </af:panelSplitter>
          </f:facet>
          <f:attribute name="tituloPantalla"
                       value="#{viewcontrollerBundle['CAT.ASENTAMIENTOS.TITULO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_PLU'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_PLU'] : null}"/>
          <f:attribute name="mostrarLogo" value="#{pageFlowScope.catalogo}"/>
        </af:pageTemplate>
        <af:popup id="popupRecBase" contentDelivery="lazyUncached" childCreation="deferred"
                  popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
          <af:dialog id="d5" closeIconVisible="false" resize="off" type="none">
            <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}" id="ot11"/>
            <f:facet name="buttonBar">
              <af:commandButton id="cb3" text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                action="#{logout.regresarMenu}"/>
            </f:facet>
          </af:dialog>
        </af:popup>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
