<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1"
                 title="#{viewcontrollerBundle['CAT.TIPOS_MOV_PREDIOS.TITULO']}">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/catastro/template/caseTemplate.jspx" id="pt1">
          <f:facet name="top">
            <af:group id="g4">         
              <af:panelGroupLayout id="pgl3" layout="scroll"
                                   styleClass="AFStretchWidth AFStretchHeight">
                <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                    id="outputFormatted2" styleUsage="pageStamp"
                                    styleClass="AFStretchWidth"/>
                <af:panelCollection id="pc1"
                                    styleClass="AFStretchWidth AFStretchHeight"
                                    inlineStyle="height:490.0px;">
                  <f:facet name="toolbar">
                    <af:toolbar id="t2">
                      <af:commandButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                        id="cb1" partialTriggers="t1"
                                        actionListener="#{CataTiposMovPrediosBean.muestraPopListener}">
                        <af:setPropertyListener from="nuevo"
                                                to="#{pageFlowScope.operacion}"
                                                type="action"/>
                      </af:commandButton>
                      <af:commandButton id="cb3"
                                        text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                        actionListener="#{CataTiposMovPrediosBean.muestraPopListener}">
                        <af:setPropertyListener from="modificar"
                                                to="#{pageFlowScope.operacion}"
                                                type="action"/>
                      </af:commandButton>
                      <af:commandButton immediate="true"
                                        text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                        id="cb2" 
                                        useWindow="true">
                        <af:setActionListener from="true"
                                              to="#{bindings.var_modifica.inputValue}"/>
                        <af:showPopupBehavior popupId="borrarPopUp"/>
                      </af:commandButton>
                      <af:popup id="borrarPopUp"
                                binding="#{CataTiposMovPrediosBean.borrarPopup}">
                        <af:dialog id="d2" type="none"
                                   title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                   closeIconVisible="false" resize="off">
                          <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                         id="ot2"/>
                          <f:facet name="buttonBar">
                            <af:group id="g1">
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                id="cb6"
                                                action="#{CataTiposMovPrediosBean.borrarRegistro}">
                                <af:setActionListener from="false"
                                                      to="#{bindings.var_modifica.inputValue}"/>
                              </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                id="cb7"/>
                            </af:group>
                          </f:facet>
                        </af:dialog>
                      </af:popup>
                      <af:popup id="popupDml"
                                binding="#{CataTiposMovPrediosBean.popupDml}"
                                popupFetchListener="#{CataTiposMovPrediosBean.formaPopupFetchListener}">
                        <af:dialog id="d4" closeIconVisible="false" resize="off"
                                   type="none"
                                   title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}">
                          <f:facet name="buttonBar">
                            <af:group id="g3">
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                id="cb4"
                                                action="#{CataTiposMovPrediosBean.insertarRegistro}"
                                                partialSubmit="true">
                                <af:setActionListener from="false"
                                                      to="#{bindings.var_modifica.inputValue}"/>
                              </af:commandButton>
                              <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                immediate="true" id="cb5"
                                                useWindow="true">
                                <af:showPopupBehavior popupId="cancelarPopUp"/>
                              </af:commandButton>
                            </af:group>
                          </f:facet>
                          <af:panelGroupLayout id="pgl1" layout="vertical">
                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"
                                                id="of3" styleUsage="pageStamp"
                                                rendered="#{bindings.var_modifica.inputValue eq 'true'}"/>
                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                                id="of2" styleUsage="pageStamp"
                                                rendered="#{bindings.var_modifica.inputValue eq 'true'}"/>
                          </af:panelGroupLayout>
                          <af:panelFormLayout id="pfl2"
                                              styleClass="AFStretchWidth AFStretchHeight"
                                              labelAlignment="top">
                            <af:inputText value="#{bindings.Clave.inputValue}"
                                          label="#{bindings.PrTiposMovimientosPredios1.hints.Clave.label}:"
                                          required="#{bindings.Clave.hints.mandatory}"
                                          columns="#{bindings.Clave.hints.displayWidth}"
                                          maximumLength="#{bindings.Clave.hints.precision}"
                                          shortDesc="#{bindings.Clave.hints.tooltip}"
                                          id="it14">
                              <f:validator binding="#{bindings.Clave.validator}"/>
                              <f:converter converterId="StringAsUppercase"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Nombre.inputValue}"
                                          label="#{bindings.PrTiposMovimientosPredios1.hints.Nombre.label}:"
                                          required="#{bindings.Nombre.hints.mandatory}"
                                          columns="#{bindings.Nombre.hints.displayWidth}"
                                          maximumLength="#{bindings.Nombre.hints.precision}"
                                          shortDesc="#{bindings.Nombre.hints.tooltip}"
                                          id="it21">
                              <f:validator binding="#{bindings.Nombre.validator}"/>
                              <f:converter converterId="StringAsUppercase"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Descripcion.inputValue}"
                                          label="#{bindings.PrTiposMovimientosPredios1.hints.Descripcion.label}:"
                                          required="#{bindings.Descripcion.hints.mandatory}"
                                          columns="#{bindings.Descripcion.hints.displayWidth}"
                                          maximumLength="#{bindings.Descripcion.hints.precision}"
                                          shortDesc="#{bindings.Descripcion.hints.tooltip}"
                                          id="it20" rows="2">
                              <f:validator binding="#{bindings.Descripcion.validator}"/>
                              <f:converter converterId="StringAsUppercase"/>
                            </af:inputText>
                            <af:selectOneChoice value="#{bindings.Modulo.inputValue}"
                                                label="#{bindings.Modulo.label}"
                                                required="#{bindings.Modulo.hints.mandatory}"
                                                shortDesc="#{bindings.Modulo.hints.tooltip}"
                                                id="soc6">
                              <f:selectItems value="#{bindings.Modulo.items}"
                                             id="si6"/>
                            </af:selectOneChoice>
                            <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                label="#{bindings.PrTiposMovimientosPredios1.hints.Estatus.label}:"
                                                required="#{bindings.Estatus.hints.mandatory}"
                                                shortDesc="#{bindings.Estatus.hints.tooltip}"
                                                id="soc1">
                              <f:selectItems value="#{bindings.Estatus.items}"
                                             id="si1"/>
                            </af:selectOneChoice>
                            <af:selectOneChoice value="#{bindings.RequiereTramite.inputValue}"
                                                label="#{bindings.RequiereTramite.label}:"
                                                required="#{bindings.RequiereTramite.hints.mandatory}"
                                                shortDesc="#{bindings.RequiereTramite.hints.tooltip}"
                                                id="soc5"
                                                valueChangeListener="#{CataTiposMovPrediosBean.valueChangeListenerRequiereTramite}"
                                                autoSubmit="true">
                              <f:selectItems value="#{bindings.RequiereTramite.items}"
                                             id="si5"/>
                            </af:selectOneChoice>
                            <af:selectOneChoice value="#{bindings.Generacobro.inputValue}"
                                                label="#{bindings.PrTiposMovimientosPredios1.hints.Generacobro.label}:"
                                                required="#{bindings.Generacobro.hints.mandatory}"
                                                shortDesc="#{bindings.Generacobro.hints.tooltip}"
                                                id="soc2">
                              <f:selectItems value="#{bindings.Generacobro.items}"
                                             id="si2"/>
                            </af:selectOneChoice>
                            <af:inputText value="#{bindings.Procesocobro.inputValue}"
                                          label="#{bindings.PrTiposMovimientosPredios1.hints.Procesocobro.label}:"
                                          columns="#{bindings.Procesocobro.hints.displayWidth}"
                                          maximumLength="#{bindings.Procesocobro.hints.precision}"
                                          shortDesc="#{bindings.Procesocobro.hints.tooltip}"
                                          id="it17"
                                          binding="#{CataTiposMovPrediosBean.inputProcesoCobro}">
                              <f:validator binding="#{bindings.Procesocobro.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo1.inputValue}"
                                          label="#{bindings.Campo1.hints.label}:"
                                          required="#{bindings.Campo1.hints.mandatory}"
                                          columns="#{bindings.Campo1.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo1.hints.precision}"
                                          shortDesc="#{bindings.Campo1.hints.tooltip}"
                                          id="it12"
                                          rendered="#{bindings.Campo1.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo1.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo2.inputValue}"
                                          label="#{bindings.Campo2.hints.label}:"
                                          required="#{bindings.Campo2.hints.mandatory}"
                                          columns="#{bindings.Campo2.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo2.hints.precision}"
                                          shortDesc="#{bindings.Campo2.hints.tooltip}"
                                          id="it15"
                                          rendered="#{bindings.Campo2.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo2.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo3.inputValue}"
                                          label="#{bindings.Campo3.hints.label}:"
                                          required="#{bindings.Campo3.hints.mandatory}"
                                          columns="#{bindings.Campo3.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo3.hints.precision}"
                                          shortDesc="#{bindings.Campo3.hints.tooltip}"
                                          id="it24"
                                          rendered="#{bindings.Campo3.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo3.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo4.inputValue}"
                                          label="#{bindings.Campo4.hints.label}:"
                                          required="#{bindings.Campo4.hints.mandatory}"
                                          columns="#{bindings.Campo4.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo4.hints.precision}"
                                          shortDesc="#{bindings.Campo4.hints.tooltip}"
                                          id="it6"
                                          rendered="#{bindings.Campo4.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo4.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo5.inputValue}"
                                          label="#{bindings.Campo5.hints.label}:"
                                          required="#{bindings.Campo5.hints.mandatory}"
                                          columns="#{bindings.Campo5.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo5.hints.precision}"
                                          shortDesc="#{bindings.Campo5.hints.tooltip}"
                                          id="it9"
                                          rendered="#{bindings.Campo5.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo5.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo6.inputValue}"
                                          label="#{bindings.Campo6.hints.label}:"
                                          required="#{bindings.Campo6.hints.mandatory}"
                                          columns="#{bindings.Campo6.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo6.hints.precision}"
                                          shortDesc="#{bindings.Campo6.hints.tooltip}"
                                          id="it16"
                                          rendered="#{bindings.Campo6.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo6.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo7.inputValue}"
                                          label="#{bindings.Campo7.hints.label}:"
                                          required="#{bindings.Campo7.hints.mandatory}"
                                          columns="#{bindings.Campo7.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo7.hints.precision}"
                                          shortDesc="#{bindings.Campo7.hints.tooltip}"
                                          id="it8"
                                          rendered="#{bindings.Campo7.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo7.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo8.inputValue}"
                                          label="#{bindings.Campo8.hints.label}:"
                                          required="#{bindings.Campo8.hints.mandatory}"
                                          columns="#{bindings.Campo8.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo8.hints.precision}"
                                          shortDesc="#{bindings.Campo8.hints.tooltip}"
                                          id="it4"
                                          rendered="#{bindings.Campo8.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo8.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo9.inputValue}"
                                          label="#{bindings.Campo9.hints.label}:"
                                          required="#{bindings.Campo9.hints.mandatory}"
                                          columns="#{bindings.Campo9.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo9.hints.precision}"
                                          shortDesc="#{bindings.Campo9.hints.tooltip}"
                                          id="it23"
                                          rendered="#{bindings.Campo9.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo9.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo10.inputValue}"
                                          label="#{bindings.Campo10.hints.label}:"
                                          required="#{bindings.Campo10.hints.mandatory}"
                                          columns="#{bindings.Campo10.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo10.hints.precision}"
                                          shortDesc="#{bindings.Campo10.hints.tooltip}"
                                          id="it22"
                                          rendered="#{bindings.Campo10.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo10.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo11.inputValue}"
                                          label="#{bindings.Campo11.hints.label}:"
                                          required="#{bindings.Campo11.hints.mandatory}"
                                          columns="#{bindings.Campo11.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo11.hints.precision}"
                                          shortDesc="#{bindings.Campo11.hints.tooltip}"
                                          id="it19"
                                          rendered="#{bindings.Campo11.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo11.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo12.inputValue}"
                                          label="#{bindings.Campo12.hints.label}:"
                                          required="#{bindings.Campo12.hints.mandatory}"
                                          columns="#{bindings.Campo12.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo12.hints.precision}"
                                          shortDesc="#{bindings.Campo12.hints.tooltip}"
                                          id="it13"
                                          rendered="#{bindings.Campo12.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo12.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo13.inputValue}"
                                          label="#{bindings.Campo13.hints.label}:"
                                          required="#{bindings.Campo13.hints.mandatory}"
                                          columns="#{bindings.Campo13.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo13.hints.precision}"
                                          shortDesc="#{bindings.Campo13.hints.tooltip}"
                                          id="it18"
                                          rendered="#{bindings.Campo13.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo13.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo14.inputValue}"
                                          label="#{bindings.Campo14.hints.label}:"
                                          required="#{bindings.Campo14.hints.mandatory}"
                                          columns="#{bindings.Campo14.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo14.hints.precision}"
                                          shortDesc="#{bindings.Campo14.hints.tooltip}"
                                          id="it5"
                                          rendered="#{bindings.Campo14.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo14.validator}"/>
                            </af:inputText>
                            <af:inputText value="#{bindings.Campo15.inputValue}"
                                          label="#{bindings.Campo15.hints.label}:"
                                          required="#{bindings.Campo15.hints.mandatory}"
                                          columns="#{bindings.Campo15.hints.displayWidth}"
                                          maximumLength="#{bindings.Campo15.hints.precision}"
                                          shortDesc="#{bindings.Campo15.hints.tooltip}"
                                          id="it10"
                                          rendered="#{bindings.Campo15.hints.displayHint}">
                              <f:validator binding="#{bindings.Campo15.validator}"/>
                            </af:inputText>
                          </af:panelFormLayout>
                        </af:dialog>
                      </af:popup>
                      <af:popup id="cancelarPopUp"
                                binding="#{CataTiposMovPrediosBean.cancelarPopUp}">
                        <af:dialog id="d3"
                                   title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                   type="cancel" closeIconVisible="false"
                                   dialogListener="#{CataTiposMovPrediosBean.cancelarListener}">
                          <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                         id="ot23"/>
                          <f:facet name="buttonBar">
                            <af:group id="g2">
                              <af:commandButton actionListener="#{CataTiposMovPrediosBean.cerrarPopupDml}"
                                                text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                immediate="true" id="cb8">
                                <af:resetActionListener/>
                                <af:setActionListener from="false"
                                                      to="#{bindings.var_modifica.inputValue}"/>
                              </af:commandButton>
                            </af:group>
                          </f:facet>
                        </af:dialog>
                      </af:popup>
                    </af:toolbar>
                  </f:facet>
                  <af:table value="#{bindings.PrTiposMovimientosPredios1.collectionModel}"
                            var="row"
                            rows="#{bindings.PrTiposMovimientosPredios1.rangeSize}"
                            emptyText="#{bindings.PrTiposMovimientosPredios1.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : 'Acceso denegado'}"
                            fetchSize="#{bindings.PrTiposMovimientosPredios1.rangeSize}"
                            rowBandingInterval="0"
                            filterModel="#{bindings.PrTiposMovimientosPredios1Query.queryDescriptor}"
                            queryListener="#{bindings.PrTiposMovimientosPredios1Query.processQuery}"
                            filterVisible="false" varStatus="vs"
                            selectedRowKeys="#{bindings.PrTiposMovimientosPredios1.collectionModel.selectedRow}"
                            selectionListener="#{bindings.PrTiposMovimientosPredios1.collectionModel.makeCurrent}"
                            rowSelection="single" id="t1"
                            columnStretching="column:c1"
                            styleClass="AFStretchWidth AFStretchHeight"
                            partialTriggers="::cb4 ::cb8 ::cb6"
                            immediate="true">
                    <af:column sortProperty="Clave" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Clave.label}"
                               id="c7" width="103"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Clave}" id="ot17"/>
                    </af:column>
                    <af:column sortProperty="Nombre" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Nombre.label}"
                               id="c1" width="108"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Nombre}" id="ot19"/>
                    </af:column>
                    <af:column sortProperty="Descripcion" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Descripcion.label}"
                               id="c6" width="106"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Descripcion}" id="ot9"/>
                    </af:column>
                    <af:column sortProperty="Modulo" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Modulo.label}"
                               id="c13" width="106"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Modulo}" id="ot15"/>
                    </af:column>
                    <af:column sortProperty="Estatus" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Estatus.label}"
                               id="c22" width="106"
                               filterFeatures="caseInsensitive">
                      <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                          id="soc3" readOnly="true">
                        <f:selectItems value="#{bindings.Estatus.items}"
                                       id="si3"/>
                      </af:selectOneChoice>
                    </af:column>
                    <af:column sortProperty="Generacobro" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Generacobro.label}"
                               id="c17" width="99"
                               filterFeatures="caseInsensitive">
                      <af:selectOneChoice value="#{row.bindings.Generacobro.inputValue}"
                                          id="soc4" readOnly="true">
                        <f:selectItems value="#{bindings.Generacobro.items}"
                                       id="si4"/>
                      </af:selectOneChoice>
                    </af:column>
                    <af:column sortProperty="Procesocobro" filterable="true"
                               sortable="true"
                               headerText="#{bindings.PrTiposMovimientosPredios1.hints.Procesocobro.label}"
                               id="c9" filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Procesocobro}" id="ot20"/>
                    </af:column>
                    <af:column sortProperty="Campo1" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo1.hints.label}"
                               id="c12"
                               rendered="#{bindings.Campo1.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo1}" id="ot14"/>
                    </af:column>
                    <af:column sortProperty="Campo2" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo2.hints.label}"
                               id="c10"
                               rendered="#{bindings.Campo2.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo2}" id="ot3"/>
                    </af:column>
                    <af:column sortProperty="Campo3" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo3.hints.label}"
                               id="c2"
                               rendered="#{bindings.Campo3.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo3}" id="ot22"/>
                    </af:column>
                    <af:column sortProperty="Campo4" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo4.hints.label}"
                               id="c8"
                               rendered="#{bindings.Campo4.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo4}" id="ot8"/>
                    </af:column>
                    <af:column sortProperty="Campo5" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo5.hints.label}"
                               id="c15"
                               rendered="#{bindings.Campo5.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo5}" id="ot18"/>
                    </af:column>
                    <af:column sortProperty="Campo6" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo6.hints.label}"
                               id="c18"
                               rendered="#{bindings.Campo6.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo6}" id="ot11"/>
                    </af:column>
                    <af:column sortProperty="Campo7" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo7.hints.label}"
                               id="c21"
                               rendered="#{bindings.Campo7.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo7}" id="ot7"/>
                    </af:column>
                    <af:column sortProperty="Campo8" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo8.hints.label}"
                               id="c16"
                               rendered="#{bindings.Campo8.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo8}" id="ot16"/>
                    </af:column>
                    <af:column sortProperty="Campo9" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo9.hints.label}"
                               id="c20"
                               rendered="#{bindings.Campo9.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo9}" id="ot5"/>
                    </af:column>
                    <af:column sortProperty="Campo10" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo10.hints.label}"
                               id="c11"
                               rendered="#{bindings.Campo10.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo10}" id="ot10"/>
                    </af:column>
                    <af:column sortProperty="Campo11" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo11.hints.label}"
                               id="c3"
                               rendered="#{bindings.Campo11.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo11}" id="ot1"/>
                    </af:column>
                    <af:column sortProperty="Campo12" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo12.hints.label}"
                               id="c19"
                               rendered="#{bindings.Campo12.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo12}" id="ot21"/>
                    </af:column>
                    <af:column sortProperty="Campo13" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo13.hints.label}"
                               id="c4"
                               rendered="#{bindings.Campo13.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo13}" id="ot13"/>
                    </af:column>
                    <af:column sortProperty="Campo14" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo14.hints.label}"
                               id="c14"
                               rendered="#{bindings.Campo14.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo14}" id="ot6"/>
                    </af:column>
                    <af:column sortProperty="Campo15" filterable="true"
                               sortable="true"
                               headerText="#{bindings.Campo15.hints.label}"
                               id="c5"
                               rendered="#{bindings.Campo15.hints.displayHint}"
                               filterFeatures="caseInsensitive">
                      <af:outputText value="#{row.Campo15}" id="ot4"/>
                    </af:column>
                  </af:table>
                </af:panelCollection>
              </af:panelGroupLayout>     
            </af:group>
          </f:facet>
          <f:attribute name="tituloPantalla"
                       value="#{viewcontrollerBundle['CAT.TIPOS_MOV_PREDIOS.TITULO']}"/>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
