<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <c:set var="viewcontrollerBundle" value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document id="d1" title="#{viewcontrollerBundle['CAT.SEG_CATASTRALES.TITULO']}">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx" id="pt1">
                    <f:facet name="top">
                        <af:panelStretchLayout id="psl1" styleClass="AFStretchWidth AFStretchHeight" topHeight="80px">
                            <f:facet name="center">
                                <af:panelGroupLayout id="pgl1" layout="scroll"
                                                     xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
                                     <af:outputFormatted id="outputFormatted3" styleUsage="pageStamp"
                                            styleClass="AFStretchWidth"
                                            value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"/>
                                    <af:spacer width="10" height="10" id="s1"/>
                                    <af:spacer width="10" height="10" id="s2"/>
                                    <af:panelHeader text="#{viewcontrollerBundle['TIT.SEGMENTOS_CATASTRALES']}"
                                                    id="ph1">
                                        <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                                            id="outputFormatted2" styleUsage="pageStamp"
                                                            styleClass="AFStretchWidth"/>
                                    </af:panelHeader>
                                    <af:panelGridLayout id="pgl4">
                                        <af:gridRow marginTop="5px" marginBottom="5px" height="auto" id="gr1">
                                            <af:gridCell marginStart="5px" width="50%" id="gc1">
                                                <af:selectOneChoice value="#{bindings.AaListasValoresNivelSeg1.inputValue}"
                                                                    required="#{bindings.AaListasValoresNivelSeg1.hints.mandatory}"
                                                                    shortDesc="#{bindings.AaListasValoresNivelSeg1.hints.tooltip}"
                                                                    id="soc2" label="Tipo de Segmento">
                                                    <f:selectItems value="#{bindings.AaListasValoresNivelSeg1.items}"
                                                                   id="si8"/>
                                                </af:selectOneChoice>
                                            </af:gridCell>
                                            <af:gridCell marginStart="5px" marginEnd="5px" width="50%" id="gc2">
                                                <af:commandButton text="Buscar" id="cb3"
                                                                  action="#{CataSegmentosCataBean.cb3_action}"/>
                                            </af:gridCell>
                                        </af:gridRow>
                                    </af:panelGridLayout>
                                    <af:panelGroupLayout id="pgl3">
                                        <af:panelGroupLayout id="pgl2" partialTriggers="cb3"
                                                             binding="#{CataSegmentosCataBean.formBusqueda2}" layout="vertical"/>
                                        <af:commandButton text="Buscar" id="cb1"
                                                          action="#{CataSegmentosCataBean.test}"/>
                                    </af:panelGroupLayout>
                                    <af:outputText value="Segmento Maestro" id="ot1"/>
                                    <af:spacer width="10" height="10" id="s3"/>
                                    <af:outputText id="otSegmento" value="#{pageFlowScope.segmentoMaestro}"/>
                                    <af:panelCollection id="pc1" styleClass="AFStretchWidth"
                                                        rendered="#{pageFlowScope.filtroaplicado eq 'TRUE'}">
                                        <f:facet name="menus"/>
                                        <f:facet name="toolbar">
                                            <af:toolbar id="t2">
                                                <af:commandToolbarButton text="Crear" id="ctb2"
                                                                         action="#{CataSegmentosCataBean.lanza_crear}"/>
                                                <af:commandToolbarButton text="Modificar" id="ctb1"
                                                                         action="#{CataSegmentosCataBean.lanza_Modificar}"/>
                                                <af:commandButton text="Eliminar" id="cb6"
                                                                  action="#{CataSegmentosCataBean.lanza_Eliminar}"/>
                                            </af:toolbar>
                                        </f:facet>
                                        <f:facet name="statusbar"/>
                                        <af:table value="#{bindings.PrSegmentosCatVO1.collectionModel}" var="row"
                                                  rows="#{bindings.PrSegmentosCatVO1.rangeSize}"
                                                  emptyText="#{bindings.PrSegmentosCatVO1.viewable ? 'No cuenta con segmentos hijos.' : 'Access Denied.'}"
                                                  fetchSize="#{bindings.PrSegmentosCatVO1.rangeSize}"
                                                  rowBandingInterval="0"
                                                  selectedRowKeys="#{bindings.PrSegmentosCatVO1.collectionModel.selectedRow}"
                                                  selectionListener="#{bindings.PrSegmentosCatVO1.collectionModel.makeCurrent}"
                                                  rowSelection="single" id="t1">
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.ClaveSegmento.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.ClaveSegmento.label}"
                                                       id="c1">
                                                <af:outputText value="#{row.ClaveSegmento}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.ClaveSegmento.tooltip}"
                                                               id="ot2"/>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.CreadoEl.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.CreadoEl.label}"
                                                       id="c2">
                                                <af:outputText value="#{row.CreadoEl}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.CreadoEl.tooltip}"
                                                               id="ot3">
                                                    <af:convertDateTime pattern="#{bindings.PrSegmentosCatVO1.hints.CreadoEl.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.CreadoPor.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.CreadoPor.label}"
                                                       id="c3">
                                                <af:outputText value="#{row.CreadoPor}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.CreadoPor.tooltip}"
                                                               id="ot4"/>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.Descripcion.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.Descripcion.label}"
                                                       id="c4">
                                                <af:outputText value="#{row.Descripcion}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.Descripcion.tooltip}"
                                                               id="ot5"/>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.Estatus.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.Estatus.label}"
                                                       id="c5">
                                                <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                                    label="#{row.bindings.Estatus.label}"
                                                                    required="#{bindings.PrSegmentosCatVO1.hints.Estatus.mandatory}"
                                                                    shortDesc="#{bindings.PrSegmentosCatVO1.hints.Estatus.tooltip}"
                                                                    readOnly="true" id="soc6">
                                                    <f:selectItems value="#{row.bindings.Estatus.items}" id="si5"/>
                                                </af:selectOneChoice>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.Identificador.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.Identificador.label}"
                                                       id="c6">
                                                <af:outputText value="#{row.Identificador}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.Identificador.tooltip}"
                                                               id="ot6">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.Identificador.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.ModificadoEl.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.ModificadoEl.label}"
                                                       id="c7">
                                                <af:outputText value="#{row.ModificadoEl}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.ModificadoEl.tooltip}"
                                                               id="ot7">
                                                    <af:convertDateTime pattern="#{bindings.PrSegmentosCatVO1.hints.ModificadoEl.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.ModificadoPor.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.ModificadoPor.label}"
                                                       id="c8">
                                                <af:outputText value="#{row.ModificadoPor}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.ModificadoPor.tooltip}"
                                                               id="ot8"/>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.Nivel.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.Nivel.label}"
                                                       id="c9">
                                                <af:outputText value="#{row.Nivel}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.Nivel.tooltip}"
                                                               id="ot9">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.Nivel.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.PcMuniIdentificador.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.PcMuniIdentificador.label}"
                                                       id="c10">
                                                <af:outputText value="#{row.PcMuniIdentificador}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.PcMuniIdentificador.tooltip}"
                                                               id="ot10">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.PcMuniIdentificador.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.PrSecaIdentificador.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.PrSecaIdentificador.label}"
                                                       id="c11">
                                                <af:outputText value="#{row.PrSecaIdentificador}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.PrSecaIdentificador.tooltip}"
                                                               id="ot11">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.PrSecaIdentificador.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.PrSecaSerie.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.PrSecaSerie.label}"
                                                       id="c12">
                                                <af:outputText value="#{row.PrSecaSerie}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.PrSecaSerie.tooltip}"
                                                               id="ot13">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.PrSecaSerie.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.Serie.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.Serie.label}"
                                                       id="c13">
                                                <af:outputText value="#{row.Serie}"
                                                               shortDesc="#{bindings.PrSegmentosCatVO1.hints.Serie.tooltip}"
                                                               id="ot14">
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.PrSegmentosCatVO1.hints.Serie.format}"/>
                                                </af:outputText>
                                            </af:column>
                                            <af:column sortProperty="#{bindings.PrSegmentosCatVO1.hints.TipoSegmento.name}"
                                                       sortable="false"
                                                       headerText="#{bindings.PrSegmentosCatVO1.hints.TipoSegmento.label}"
                                                       id="c14">
                                                <af:selectOneChoice value="#{row.bindings.TipoSegmento.inputValue}"
                                                                    label="#{row.bindings.TipoSegmento.label}"
                                                                    required="#{bindings.PrSegmentosCatVO1.hints.TipoSegmento.mandatory}"
                                                                    shortDesc="#{bindings.PrSegmentosCatVO1.hints.TipoSegmento.tooltip}"
                                                                    readOnly="true" id="soc7">
                                                    <f:selectItems value="#{row.bindings.TipoSegmento.items}" id="si6"/>
                                                </af:selectOneChoice>
                                            </af:column>
                                        </af:table>
                                        <af:popup id="popupCrear"
                                                  binding="#{CataSegmentosCataBean.popUpCrear}"
                                                  contentDelivery="lazyUncached"
                                                  popupCanceledListener="#{CataSegmentosCataBean.cancel_Crear}">
                                            <af:dialog id="d3" type="cancel" closeIconVisible="false">
                                                <f:facet name="buttonBar">
                                                    <af:group id="g2">
                                                        <af:commandButton text="Crear" id="cb5"
                                                                          action="#{CataSegmentosCataBean.commit_Crear}"/>
                                                    </af:group>
                                                </f:facet>
                                                <af:panelFormLayout id="pfl3">
                                                    <af:inputText value="#{bindings.ClaveSegmento.inputValue}"
                                                                  label="#{bindings.ClaveSegmento.hints.label}"
                                                                  required="#{bindings.ClaveSegmento.hints.mandatory}"
                                                                  columns="#{bindings.ClaveSegmento.hints.displayWidth}"
                                                                  maximumLength="#{bindings.ClaveSegmento.hints.precision}"
                                                                  shortDesc="#{bindings.ClaveSegmento.hints.tooltip}"
                                                                  id="it14">
                                                        <f:validator binding="#{bindings.ClaveSegmento.validator}"/>
                                                    </af:inputText>
                                                    <af:inputDate value="#{bindings.CreadoEl.inputValue}"
                                                                  label="#{bindings.CreadoEl.hints.label}"
                                                                  required="#{bindings.CreadoEl.hints.mandatory}"
                                                                  columns="#{bindings.CreadoEl.hints.displayWidth}"
                                                                  shortDesc="#{bindings.CreadoEl.hints.tooltip}"
                                                                  id="id3" visible="false">
                                                        <f:validator binding="#{bindings.CreadoEl.validator}"/>
                                                        <af:convertDateTime pattern="#{bindings.CreadoEl.format}"/>
                                                    </af:inputDate>
                                                    <af:inputText value="#{bindings.CreadoPor.inputValue}"
                                                                  label="#{bindings.CreadoPor.hints.label}"
                                                                  required="#{bindings.CreadoPor.hints.mandatory}"
                                                                  columns="#{bindings.CreadoPor.hints.displayWidth}"
                                                                  maximumLength="#{bindings.CreadoPor.hints.precision}"
                                                                  shortDesc="#{bindings.CreadoPor.hints.tooltip}"
                                                                  id="it15" visible="false">
                                                        <f:validator binding="#{bindings.CreadoPor.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Descripcion.inputValue}"
                                                                  label="#{bindings.Descripcion.hints.label}"
                                                                  required="#{bindings.Descripcion.hints.mandatory}"
                                                                  columns="#{bindings.Descripcion.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Descripcion.hints.precision}"
                                                                  shortDesc="#{bindings.Descripcion.hints.tooltip}"
                                                                  id="it16">
                                                        <f:validator binding="#{bindings.Descripcion.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Identificador.inputValue}"
                                                                  label="#{bindings.Identificador.hints.label}"
                                                                  required="#{bindings.Identificador.hints.mandatory}"
                                                                  columns="#{bindings.Identificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Identificador.hints.precision}"
                                                                  shortDesc="#{bindings.Identificador.hints.tooltip}"
                                                                  id="it17" visible="false">
                                                        <f:validator binding="#{bindings.Identificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Identificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputDate value="#{bindings.ModificadoEl.inputValue}"
                                                                  label="#{bindings.ModificadoEl.hints.label}"
                                                                  required="#{bindings.ModificadoEl.hints.mandatory}"
                                                                  columns="#{bindings.ModificadoEl.hints.displayWidth}"
                                                                  shortDesc="#{bindings.ModificadoEl.hints.tooltip}"
                                                                  id="id4" visible="false">
                                                        <f:validator binding="#{bindings.ModificadoEl.validator}"/>
                                                        <af:convertDateTime pattern="#{bindings.ModificadoEl.format}"/>
                                                    </af:inputDate>
                                                    <af:inputText value="#{bindings.ModificadoPor.inputValue}"
                                                                  label="#{bindings.ModificadoPor.hints.label}"
                                                                  required="#{bindings.ModificadoPor.hints.mandatory}"
                                                                  columns="#{bindings.ModificadoPor.hints.displayWidth}"
                                                                  maximumLength="#{bindings.ModificadoPor.hints.precision}"
                                                                  shortDesc="#{bindings.ModificadoPor.hints.tooltip}"
                                                                  id="it18" visible="false">
                                                        <f:validator binding="#{bindings.ModificadoPor.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Nivel1.inputValue}"
                                                                  label="#{bindings.Nivel1.hints.label}"
                                                                  required="#{bindings.Nivel1.hints.mandatory}"
                                                                  columns="#{bindings.Nivel1.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Nivel1.hints.precision}"
                                                                  shortDesc="#{bindings.Nivel1.hints.tooltip}"
                                                                  id="it19" disabled="true">
                                                        <f:validator binding="#{bindings.Nivel1.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Nivel1.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PcMuniIdentificador.inputValue}"
                                                                  label="#{bindings.PcMuniIdentificador.hints.label}"
                                                                  required="#{bindings.PcMuniIdentificador.hints.mandatory}"
                                                                  columns="#{bindings.PcMuniIdentificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PcMuniIdentificador.hints.precision}"
                                                                  shortDesc="#{bindings.PcMuniIdentificador.hints.tooltip}"
                                                                  id="it20" visible="false">
                                                        <f:validator binding="#{bindings.PcMuniIdentificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PcMuniIdentificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PrSecaIdentificador.inputValue}"
                                                                  label="#{bindings.PrSecaIdentificador.hints.label}"
                                                                  required="#{bindings.PrSecaIdentificador.hints.mandatory}"
                                                                  columns="#{bindings.PrSecaIdentificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PrSecaIdentificador.hints.precision}"
                                                                  shortDesc="#{bindings.PrSecaIdentificador.hints.tooltip}"
                                                                  id="it21" visible="false">
                                                        <f:validator binding="#{bindings.PrSecaIdentificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PrSecaIdentificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PrSecaSerie.inputValue}"
                                                                  label="#{bindings.PrSecaSerie.hints.label}"
                                                                  required="#{bindings.PrSecaSerie.hints.mandatory}"
                                                                  columns="#{bindings.PrSecaSerie.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PrSecaSerie.hints.precision}"
                                                                  shortDesc="#{bindings.PrSecaSerie.hints.tooltip}"
                                                                  id="it22" visible="false">
                                                        <f:validator binding="#{bindings.PrSecaSerie.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PrSecaSerie.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Serie.inputValue}"
                                                                  label="#{bindings.Serie.hints.label}"
                                                                  required="#{bindings.Serie.hints.mandatory}"
                                                                  columns="#{bindings.Serie.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Serie.hints.precision}"
                                                                  shortDesc="#{bindings.Serie.hints.tooltip}" id="it23"
                                                                  visible="false">
                                                        <f:validator binding="#{bindings.Serie.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Serie.format}"/>
                                                    </af:inputText>
                                                    <af:selectOneChoice value="#{bindings.TipoSegmento1.inputValue}"
                                                                        label="#{bindings.TipoSegmento1.label}"
                                                                        required="#{bindings.TipoSegmento1.hints.mandatory}"
                                                                        shortDesc="#{bindings.TipoSegmento1.hints.tooltip}"
                                                                        id="soc5">
                                                        <f:selectItems value="#{bindings.TipoSegmento1.items}"
                                                                       id="si4"/>
                                                    </af:selectOneChoice>
                                                    <af:selectOneChoice value="#{bindings.Estatus2.inputValue}"
                                                                        label="#{bindings.Estatus2.label}"
                                                                        required="#{bindings.Estatus2.hints.mandatory}"
                                                                        shortDesc="#{bindings.Estatus2.hints.tooltip}"
                                                                        id="soc4">
                                                        <f:selectItems value="#{bindings.Estatus2.items}" id="si3"/>
                                                    </af:selectOneChoice>
                                                </af:panelFormLayout>
                                            </af:dialog>
                                        </af:popup>
                                        <af:popup childCreation="deferred" autoCancel="disabled" id="popupModificar"
                                                  binding="#{CataSegmentosCataBean.popupModificar}">
                                            <af:dialog id="d2" type="none" closeIconVisible="false">
                                                <f:facet name="buttonBar">
                                                    <af:group id="g1">
                                                        <af:commandButton text="Submit" id="cb4"
                                                                          action="#{CataSegmentosCataBean.commit_Modificar}"/>
                                                        <af:commandButton text="Cancelar" id="cb2"
                                                                          actionListener="#{CataSegmentosCataBean.rollback_Modificar}">
                                                            <af:resetActionListener/>
                                                        </af:commandButton>
                                                    </af:group>
                                                </f:facet>
                                                <af:panelFormLayout id="pfl2">
                                                    <af:inputText value="#{bindings.ClaveSegmento.inputValue}"
                                                                  label="#{bindings.ClaveSegmento.hints.label}"
                                                                  required="#{bindings.ClaveSegmento.hints.mandatory}"
                                                                  columns="#{bindings.ClaveSegmento.hints.displayWidth}"
                                                                  maximumLength="#{bindings.ClaveSegmento.hints.precision}"
                                                                  shortDesc="#{bindings.ClaveSegmento.hints.tooltip}"
                                                                  id="it4">
                                                        <f:validator binding="#{bindings.ClaveSegmento.validator}"/>
                                                    </af:inputText>
                                                    <af:inputDate value="#{bindings.CreadoEl.inputValue}"
                                                                  label="#{bindings.CreadoEl.hints.label}"
                                                                  required="#{bindings.CreadoEl.hints.mandatory}"
                                                                  columns="#{bindings.CreadoEl.hints.displayWidth}"
                                                                  shortDesc="#{bindings.CreadoEl.hints.tooltip}"
                                                                  id="id1" visible="false">
                                                        <f:validator binding="#{bindings.CreadoEl.validator}"/>
                                                        <af:convertDateTime pattern="#{bindings.CreadoEl.format}"/>
                                                    </af:inputDate>
                                                    <af:inputText value="#{bindings.CreadoPor.inputValue}"
                                                                  label="#{bindings.CreadoPor.hints.label}"
                                                                  required="#{bindings.CreadoPor.hints.mandatory}"
                                                                  columns="#{bindings.CreadoPor.hints.displayWidth}"
                                                                  maximumLength="#{bindings.CreadoPor.hints.precision}"
                                                                  shortDesc="#{bindings.CreadoPor.hints.tooltip}"
                                                                  id="it5" visible="false">
                                                        <f:validator binding="#{bindings.CreadoPor.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Descripcion.inputValue}"
                                                                  label="#{bindings.Descripcion.hints.label}"
                                                                  required="#{bindings.Descripcion.hints.mandatory}"
                                                                  columns="#{bindings.Descripcion.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Descripcion.hints.precision}"
                                                                  shortDesc="#{bindings.Descripcion.hints.tooltip}"
                                                                  id="it6">
                                                        <f:validator binding="#{bindings.Descripcion.validator}"/>
                                                    </af:inputText>
                                                    <af:selectOneChoice value="#{bindings.Estatus2.inputValue}"
                                                                        label="#{bindings.Estatus2.label}"
                                                                        required="#{bindings.Estatus2.hints.mandatory}"
                                                                        shortDesc="#{bindings.Estatus2.hints.tooltip}"
                                                                        id="soc1">
                                                        <f:selectItems value="#{bindings.Estatus2.items}" id="si1"/>
                                                    </af:selectOneChoice>
                                                    <af:inputText value="#{bindings.Identificador.inputValue}"
                                                                  label="#{bindings.Identificador.hints.label}"
                                                                  required="#{bindings.Identificador.hints.mandatory}"
                                                                  columns="#{bindings.Identificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Identificador.hints.precision}"
                                                                  shortDesc="#{bindings.Identificador.hints.tooltip}"
                                                                  id="it7" visible="false">
                                                        <f:validator binding="#{bindings.Identificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Identificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputDate value="#{bindings.ModificadoEl.inputValue}"
                                                                  label="#{bindings.ModificadoEl.hints.label}"
                                                                  required="#{bindings.ModificadoEl.hints.mandatory}"
                                                                  columns="#{bindings.ModificadoEl.hints.displayWidth}"
                                                                  shortDesc="#{bindings.ModificadoEl.hints.tooltip}"
                                                                  id="id2" visible="false">
                                                        <f:validator binding="#{bindings.ModificadoEl.validator}"/>
                                                        <af:convertDateTime pattern="#{bindings.ModificadoEl.format}"/>
                                                    </af:inputDate>
                                                    <af:inputText value="#{bindings.ModificadoPor.inputValue}"
                                                                  label="#{bindings.ModificadoPor.hints.label}"
                                                                  required="#{bindings.ModificadoPor.hints.mandatory}"
                                                                  columns="#{bindings.ModificadoPor.hints.displayWidth}"
                                                                  maximumLength="#{bindings.ModificadoPor.hints.precision}"
                                                                  shortDesc="#{bindings.ModificadoPor.hints.tooltip}"
                                                                  id="it8" visible="false">
                                                        <f:validator binding="#{bindings.ModificadoPor.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Nivel1.inputValue}"
                                                                  label="#{bindings.Nivel1.hints.label}"
                                                                  required="#{bindings.Nivel1.hints.mandatory}"
                                                                  columns="#{bindings.Nivel1.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Nivel1.hints.precision}"
                                                                  shortDesc="#{bindings.Nivel1.hints.tooltip}" id="it9"
                                                                  disabled="true">
                                                        <f:validator binding="#{bindings.Nivel1.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Nivel1.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PcMuniIdentificador.inputValue}"
                                                                  label="#{bindings.PcMuniIdentificador.hints.label}"
                                                                  required="#{bindings.PcMuniIdentificador.hints.mandatory}"
                                                                  columns="#{bindings.PcMuniIdentificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PcMuniIdentificador.hints.precision}"
                                                                  shortDesc="#{bindings.PcMuniIdentificador.hints.tooltip}"
                                                                  id="it10" visible="false">
                                                        <f:validator binding="#{bindings.PcMuniIdentificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PcMuniIdentificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PrSecaIdentificador.inputValue}"
                                                                  label="#{bindings.PrSecaIdentificador.hints.label}"
                                                                  required="#{bindings.PrSecaIdentificador.hints.mandatory}"
                                                                  columns="#{bindings.PrSecaIdentificador.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PrSecaIdentificador.hints.precision}"
                                                                  shortDesc="#{bindings.PrSecaIdentificador.hints.tooltip}"
                                                                  id="it11" visible="false">
                                                        <f:validator binding="#{bindings.PrSecaIdentificador.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PrSecaIdentificador.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.PrSecaSerie.inputValue}"
                                                                  label="#{bindings.PrSecaSerie.hints.label}"
                                                                  required="#{bindings.PrSecaSerie.hints.mandatory}"
                                                                  columns="#{bindings.PrSecaSerie.hints.displayWidth}"
                                                                  maximumLength="#{bindings.PrSecaSerie.hints.precision}"
                                                                  shortDesc="#{bindings.PrSecaSerie.hints.tooltip}"
                                                                  id="it12" visible="false">
                                                        <f:validator binding="#{bindings.PrSecaSerie.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.PrSecaSerie.format}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Serie.inputValue}"
                                                                  label="#{bindings.Serie.hints.label}"
                                                                  required="#{bindings.Serie.hints.mandatory}"
                                                                  columns="#{bindings.Serie.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Serie.hints.precision}"
                                                                  shortDesc="#{bindings.Serie.hints.tooltip}" id="it13"
                                                                  visible="false">
                                                        <f:validator binding="#{bindings.Serie.validator}"/>
                                                        <af:convertNumber groupingUsed="false"
                                                                          pattern="#{bindings.Serie.format}"/>
                                                    </af:inputText>
                                                    <af:selectOneChoice value="#{bindings.TipoSegmento1.inputValue}"
                                                                        label="#{bindings.TipoSegmento1.label}"
                                                                        required="#{bindings.TipoSegmento1.hints.mandatory}"
                                                                        shortDesc="#{bindings.TipoSegmento1.hints.tooltip}"
                                                                        id="soc3">
                                                        <f:selectItems value="#{bindings.TipoSegmento1.items}"
                                                                       id="si2"/>
                                                    </af:selectOneChoice>
                                                </af:panelFormLayout>
                                            </af:dialog>
                                        </af:popup>
                                        <af:popup childCreation="deferred" autoCancel="disabled" id="popUpEliminar"
                                                  binding="#{CataSegmentosCataBean.popUpEliminar}"
                                                  popupCanceledListener="#{CataSegmentosCataBean.cancel_Eliminar}">
                                            <af:dialog id="d5" type="cancel" closeIconVisible="false">
                                                <f:facet name="buttonBar">
                                                    <af:group id="g3">
                                                        <af:commandButton text="Eliminar" id="cb7"
                                                                          action="#{CataSegmentosCataBean.commit_Eliminar}"/>
                                                    </af:group>
                                                </f:facet>
                                                <af:outputText value="Eliminar??" id="ot15"/>
                                            </af:dialog>
                                        </af:popup>
                                        <af:popup childCreation="deferred" autoCancel="disabled" id="popupCancelar">
                                            <af:dialog id="d4" closeIconVisible="false">
                                                <f:facet name="buttonBar"/>
                                            </af:dialog>
                                        </af:popup>
                                    </af:panelCollection>
                                    <!-- POP UP CANCELAR >>-->
                                    <!-- FIN DE POP UP CANCELAR >>-->
                                </af:panelGroupLayout>
                            </f:facet>
                        </af:panelStretchLayout>
                    </f:facet>
                    <f:attribute name="tituloPantalla" value="#{viewcontrollerBundle['CAT.SEG_CATASTRALES.TITULO']}"/>
                </af:pageTemplate>
            </af:form>
        </af:document>
    </f:view>
    <!--oracle-jdev-comment:preferred-managed-bean-name:CataSegmentosCataBean-->
</jsp:root>
